# build output
dist/
.output/

# generated types
.astro/
auto-imports.d.ts

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# macOS-specific files
.DS_Store

# CMS cache
.cache/*

# environment variables
.env

# npm & yarn lockfiles
package-lock.json
yarn.lock

# recurring images' local versions
public/_astro
