@use "colors";
@use "typography";

.basicIntrodescription {
  padding-top: 100px;
}

.basicInfoSec {
  height: clamp(550px, 22vw + 420px, 820px);
}

.basicInfoSecContentContainer {
  padding-top: 50px;
  padding-bottom: 50px;
}

.basicInfoSecContent {
  padding-left: 10px;
}

.basicInfoSec_Curve1 {
  position: absolute;
  right: 0;
  padding: 50px 90px 50px 0;
}

.basicInfoSecTxt {
  font-size: clamp(0.875rem, 1.5vw + 0.1rem, 1.5rem);
  line-height: 150%;
  color: colors.$primary-color;
}

.basicHeader {
  line-height: 120%;
}

.BasicHeroTitle {
  font-family: typography.$alice;
  font-size: clamp(2rem, 3vw + 0.4rem, 3rem);
  line-height: 120%;
  letter-spacing: -0.02em;
}

.BasicHeroTxt {
  font-size: clamp(1rem, 1.5vw + 0.1rem, 1.5rem);
  list-style: 150%;
}

.basicHeroIcon {
  height: clamp(40px, 6vw + 15px, 100px);
  width: 100%;
  object-fit: contain;
}

@media (max-width: 1023.98px) {
  .basicInfoSecContent {
    padding-left: 25px;
  }

  .basicInfoSec_Curve1 {
    padding-right: 25px;
  }
}

@media (max-width: 767.98px) {
  .basicInfoSecContent {
    padding-left: 25px;
  }

  .BasicHeroTitle {
    line-height: 110%;
  }

  .BasicHeroTxt {
    font-size: clamp(1rem, 1.5vw + 0.1rem, 1.5rem);
    list-style: 140%;
  }
}

@media (max-width: 639.98px) {
  .basicInfoSec {
    height: 100%;
  }

  .basicInfoSecContentContainer {
    padding: 25px;
  }

  .basicInfoSecContent {
    padding-left: 0;
  }

  .basicHeader {
    line-height: clamp(2.25rem, 3vw + 0.4rem, 3.75rem);
  }
}
