@use "typography";
@use "src/styles/mixins" as *;

html {
  @apply h-full bg-white;
}

body {
  // center horizontally when position is fixed
  left: max(0px, calc((100% - 2050px) / 2));

  @apply h-full bg-secondary text-secondary mx-auto max-w-[2050px] overflow-x-hidden;
}

.icon {
  @apply inline-flex items-center;
}

.wrapper {
  @apply w-full mx-auto max-w-[1730px] px-[min(100px,5vw)];
}

.heading-primary {
  font-family: typography.$recoleta;
  font-size: clamp(2rem, 3vw + 0.4rem, 3.5rem);
}

.heading-secondary {
  @apply recoleta text-h2 font-bold;
}

.heading-inline-icon {
  height: clamp(27px, 3.5vw + 6px, 42px);
}

.howto-details #headings {
  @media (max-width: 767.98px) {
    display: none;
  }
}

.product-card-btn {
  @apply w-full flex justify-center items-center gap-1
    p-1 md:p-2 lg:p-3
    font-bold text-[clamp(12px,0.38vw+10,16px)] rounded-full;
}

// markdown/prose-links

.prose-text {
  @include prose-default;
  @include prose-content-($link-light);
}

.prose-text-dark-link {
  @include prose-default;
  @include prose-content-($link-dark);
}

.hero-text {
  @include prose-prose-text;
  @include prose-content-($link-dark);

  @apply text-b5 text-white;
}

.intro-text {
  @include prose-default;
  @include prose-content-($link-light);
}

.intro-text-dark-link {
  @include prose-default;
  @include prose-content-($link-dark);
}

.link-text {
  @include prose-content-default-text;
  @include prose-content-($link-light);

  @apply px-3;
}

.link-text {
  @include prose-content-($link-light);
}

.link-text-black {
  @include prose-content-($link-dark);
}

// gaps

.section-gap {
  @include section-gap;
}

.section-in-v-pad {
  @include section-in-v-pad;
}

.section-in-v-pad-sm {
  @include section-in-v-pad-sm;
}

.division-gap {
  @include division-gap;
}

.division-in-gap {
  @include division-in-gap;
}

.division-in-element-gap {
  @include division-in-element-gap;
}

.tiled-div-pad {
  @include tiled-div-pad;
}

.tiled-title-div-pad {
  @include tiled-title-div-pad;
}

.blob-div-in-pad {
  @include blob-div-in-pad;
}

.card-gap {
  @include card-gap;
}

.grid-gap {
  @include card-gap;
}

.form-gap {
  @include form-gap;
}

.tiled-form {
  @include tiled-form;
}

// buttons

.button-default {
  @include button;
  @include button-font;
  @include button-default-colors;
}

.button-default-large {
  @include button-large;
  @include button-font;
  @include button-default-colors;
}

.button-primary {
  @include button;
  @include button-font;
  @include button-primary-colors;
}

.button-primary-large {
  @include button-large;
  @include button-font;
  @include button-primary-colors;
}

.button-disabled {
  @include button;
  @include button-font;
  @include button-disabled-colors;
}

.button-disabled-large {
  @include button-large;
  @include button-font;
  @include button-disabled-colors;
}

.button-link {
  @include button-link;
}

.button-link-light {
  @include button-link-light;
}

// cart-buttons

// cart buttons are 
//   button-cart-default, button-cart-default-normal, card-button-cart-default
//   button-cart-primary, button-cart-primary-normal, card-button-cart-primary
//   button-cart-disabled, button-cart-disabled-normal, card-button-cart-disabled

.button-cart-default,
.button-cart-default-normal,
.card-button-cart-default {
  @include button-default-colors;
}

.button-cart-primary,
.button-cart-primary-normal,
.card-button-cart-primary {
  @include button-primary-colors;
}

.button-cart-disabled,
.button-cart-disabled-normal,
.card-button-cart-disabled {
  @include button-disabled-colors;

  cursor: not-allowed!important;
}

.button-cart-default,
.button-cart-primary,
.button-cart-disabled {
  @include button-cart;
}

.button-cart-default-normal,
.button-cart-primary-normal,
.button-cart-disabled-normal {
  @include button-cart-normal;
}

.card-button-cart-default,
.card-button-cart-primary,
.card-button-cart-disabled {
  @include card-button-cart;
}

// cart-plus/minus-buttons

.button-cart-quantity-secondary-big {
  @include button-cart-quantity-big;
  @include button-primary-colors;

  @apply border-2 border-secondary;

  input {
    @include button-secondary-colors;
  }
}

.button-cart-quantity-primary-big {
  @include button-cart-quantity-big;
  @include button-primary-colors;

  input {
    @include button-primary-colors;
  }
}

.button-cart-quantity-primary {
  @include button-cart-quantity;
  @include button-primary-colors;

  input {
    @include button-primary-colors;
  }
}

// blob-button

.blob-button {
  @apply flex items-center gap-2.5 text-sm font-bold;

  .blob-button-icon {
    @apply w-[25px];
  }
}

// radio/checkbox-buttons

.radio-button-default-checked {
  @include radio-button;

  @apply bg-primary border-secondary-light;
}

.radio-button-default-unchecked {
  @include radio-button;
  @apply bg-secondary-light border-secondary-light;
}

.checkbox-button-default-checked {
  @include checkbox-button;

  @apply bg-primary;
}

.checkbox-button-default-unchecked {
  @include checkbox-button;

  @apply bg-transparent;
}

// toggle-buttons

.horizontal-toggle-button-primary {
  @include toggle-button-primary;

  .toggle-button-arrow {
    @apply w-2 h-[14px];
  }
}

.vertical-toggle-button-primary {
  @include toggle-button-primary;

  .toggle-button-arrow {
    @apply w-[14px] h-2;
  }
}

// breadcrumb

.breadcrumb {
  @apply recoleta text-h5 text-primary flex items-center gap-[clamp(8px,calc(0.25vw+6.4px),10px)];

  .breadcrumb-arrow {
    @apply h-[clamp(16px,calc(0.25vw+14.4px),18px)];
  }
}

// pagination

.pagination {
  @apply flex items-center justify-between;

  .pagination-item {
    @apply text-b3 font-bold text-black flex items-center justify-center rounded-full 
      w-[clamp(35px,calc(1.25vw+27px),45px)] h-[clamp(35px,calc(1.25vw+27px),45px)];

    &.active {
      @apply bg-primary text-white;
    }
  }

  .pagination-arrow-icon {
    @apply h-[clamp(25px,calc(1.25vw+17px),35px)];
  }
}

// product-card(smallest-size-375px)

.product-card {
  @mixin product-more-info {
    @apply space-x-[3px] sm:space-x-1 text-b7 italic;

    span {
      @apply inline align-middle;
    }
  }

  @mixin product-more-info-link {
    @include bg-img-($link-dark);

    @apply font-medium sm:font-semibold px-1 no-underline
      bg-bottom bg-no-repeat hover:brightness-90 transition-all;
  }

  @mixin product-more-info-icon {
    @apply w-[clamp(16px,calc(0.37vw+14.6px),20px)] h-[clamp(16px,calc(0.37vw+14.6px),20px)];
  }

  @mixin product-icon-circle {
    @apply bg-white border border-primary rounded-full;
  }

  @include blob-card;

  clip-path: url(#product-card-curve);

  .product-card-image-container {
    @apply relative w-full bg-white;

    .stock-out-label-top {
      @apply bg-warning/80 border border-warning rounded-full text-black
        text-[clamp(10px,calc(0.94vw+6.47px),20px)] font-semibold leading-[150%]
        py-[clamp(3px,calc(0.19vw+2.29px),5px)] px-[clamp(10px,calc(0.47vw+8.23px),15px)]
        absolute top-[clamp(10px,calc(1.88vw+2.9px),30px)] right-[clamp(20px,calc(2.82vw+9.43px),50px)];
    }
  }

  .product-card-content {
    @apply grid gap-[5px];

    .product-title {
      @apply recoleta text-h5-sm text-white;
    }

    .product-info {
      @apply flex flex-wrap gap-1 text-b6-sm text-secondary-light;
    }

    .product-format {
      @include product-more-info;

      .icon-container {
        @apply -space-x-[clamp(10px,calc(0.18vw+9.29px),12px)];

        .icon,
        .number {
          @include product-more-info-icon;
          @include product-icon-circle;
        }

        .number {
          @apply inline-flex items-center justify-center text-primary
            text-[clamp(6px,calc(0.5vw+2.8px),10px)] sm:font-medium;
        }
      }

      .format-link-text {
        @include product-more-info-link;
      }

      .desktop-only-text {
        @apply hidden sm:inline align-middle;
      }

      .mobile-only-text {
        @apply inline sm:hidden align-middle;
      }
    }

    .product-estate {
      @include product-more-info;

      .icon {
        @include product-more-info-icon;
      }

      a {
        @include product-more-info-link;

        @apply inline align-middle;
      }
    }
  }
}
