@use "colors";
@use "typography";

html {
  @apply scroll-smooth bg-white;
}

body {
  color: colors.$light-gray;
  box-shadow: 0 0 5px #787a91;
  background-color: colors.$light-gray;

  // center horizontally when position is fixed
  left: max(0px, calc((100% - 2050px) / 2));

  @apply mx-auto max-w-[2050px] overflow-x-hidden scroll-smooth;
}

.icon {
  @apply inline-flex items-center;
}

.wrapper {
  @apply w-full mx-auto max-w-[1730px] px-[min(100px,5vw)];
}

.heading-primary {
  font-family: typography.$alice;
  font-size: clamp(2rem, 3vw + 0.4rem, 3.5rem);
}

.heading-inline-icon {
  height: clamp(27px, 3.5vw + 6px, 42px);
}

.content-text {
  @apply text-dark leading-[150%] max-w-none;

  font-size: clamp(1.125rem, 1.5vw + 0.3rem, 1.5rem);

  & .chapter:nth-child(1) h2:nth-of-type(1) {
    margin-top: 0;
  }
}

.howto-details #headings {
  @media (max-width: 767.98px) {
    display: none;
  }
}
