@use "colors";
@use "typography";

html {
  scroll-behavior: smooth;
  background-color: #fff;
}

body {
  max-width: 2050px;
  margin: 0 auto;
  background-color: colors.$light-gray;
  color: colors.$light-gray;
  box-shadow: 0 0 5px #787a91;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.wrapper {
  @apply w-full mx-auto;

  padding: 0 min(100px, 5vw);
}

.paddingTop {
  padding-top: clamp(24px, 3vw, 48px);
}

.bg-default-light-gray {
  background-color: colors.$light-gray;
}

.bg-default-green {
  background-color: colors.$green;
}

.color-default-80 {
  color: colors.$sticky-dropdown-item;
}

.color-default {
  color: colors.$primary-color;
}

.header-default {
  font-family: typography.$alice;
  font-size: clamp(2rem, 3vw + 0.4rem, 3.5rem);
}

.headingInlineIcon {
  width: auto;
  height: clamp(27px, 3.5vw + 6px, 42px);
}

.LineClamp5 {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
