@use "colors";
@use "typography";

.basicInfoSecTxt {
  @apply leading-normal;

  color: colors.$primary-color;
  font-size: clamp(0.875rem, 1.5vw + 0.1rem, 1.5rem);
}

.BasicHeroTitle {
  @apply leading-[1.2];

  letter-spacing: -0.02em;
  font-family: typography.$alice;
  font-size: clamp(2rem, 3vw + 0.4rem, 3rem);
}

.BasicHeroTxt {
  font-size: clamp(1rem, 1.5vw + 0.1rem, 1.5rem);
}
