@use "colors";
@use "typography";

.blogHome_blogs {
  padding-top: 70px;
  padding-bottom: 70px;
}

.blogHome_blogsContainer {
  row-gap: 70px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.blogHome_blogCurveL {
  padding-right: 100px;
}

.blogHome_blogTxtContaierR {
  padding-left: 20px;
}

.blogHome_blogCurveR {
  padding-left: 100px;
}

.blogHome_blogTxtContaierL {
  padding-right: 20px;
}

.blogHome_heroAuth {
  font-size: clamp(1rem, 1.3vw + 0.1rem, 1.125rem);
  line-height: 150%;
}

.blogHome_heroTitle {
  padding-top: 20px;
  font-family: typography.$alice;
  font-size: clamp(2rem, 3vw + 0.4rem, 3rem);
  line-height: 120%;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.blogHome_heroTxt {
  font-size: clamp(0.875rem, 1.5vw + 0.1rem, 1.25rem);
  line-height: 150%;
  color: colors.$light-gray;
  padding-top: 15px;
}

.blogHome_HdItem {
  font-size: clamp(0.625rem, 1.5vw + 0.01rem, 0.75rem);
  line-height: 150%;
}

.blogHome_HdItem:first-of-type:before {
  content: "";
  border: 0;
}

.blogHome_HdItem:before {
  content: "•";
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.blogHome_blogItem {
  font-size: clamp(0.625rem, 1.5vw + 0.01rem, 0.75rem);
  line-height: 150%;
  color: #000;
}

.blogHome_blogItem:first-of-type:before {
  content: "";
  border: 0;
}

.blogHome_blogItem:before {
  content: "•";
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.blogHome_blogItemBtn {
  background-color: colors.$color-white1;
  color: colors.$primary-color;
  padding: 4.5px 11.5px;
  border-radius: 28px;
}

.blogHome_blogAuth {
  font-size: clamp(1rem, 1.3vw + 0.1rem, 1.125rem);
  line-height: 150%;
  color: colors.$primary-color;
}

.blogHome_blogTitle {
  padding-top: 11px;
  font-family: typography.$alice;
  font-size: clamp(1.75rem, 3.6vw + 0.01rem, 3.125rem);
  line-height: 120%;
  color: colors.$dark;
  text-decoration: underline;
  text-decoration-thickness: 3px;
}

.blogHome_blogTxt {
  font-size: clamp(1rem, 1.5vw + 0.1rem, 1.5rem);
  line-height: 150%;
  color: colors.$dark-gray;
  padding-top: 20px;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.blogLeafL_container {
  top: -46px;
  left: 26px;
}

.blogLeafR_container {
  bottom: 0;
  left: 76px;
}

.blogLeaf {
  width: 100%;
  height: clamp(55px, 8vw + 1px, 117px);
  filter: drop-shadow(0px 8px 9px rgba(0, 0, 0, 0.5));
}

@media (max-width: 1279.98px) {
  .blogLeafL_container {
    top: -11%;
    left: 3.5%;
  }

  .blogLeafR_container {
    left: 68px;
  }
}

@media (max-width: 1023.98px) {
  .blogHome_blogCurveL {
    padding-right: 50px;
  }

  .blogHome_blogCurveR {
    padding-left: 50px;
  }

  .blogHome_blogTitle {
    padding-top: 8px;
  }

  .blogHome_blogTxt {
    padding-top: 15px;
    line-height: 140%;
    -webkit-line-clamp: 4;
  }

  .blogLeafL_container {
    top: -9%;
    left: 3.5%;
  }

  .blogLeafR_container {
    left: 5%;
  }
}

@media (max-width: 825.98px) {
  .BlogHeroCurveContainer {
    padding-bottom: 110px;
  }
}

@media (max-width: 767.98px) {
  .BlogHeroTxtContent {
    padding-top: 20px;
  }

  .blogHome_heroTitle {
    padding-top: 10px;
  }

  .blogHome_heroTxt {
    padding-top: 12px;
    line-height: 120%;
  }

  .blogHome_blogCurveL {
    padding-right: 20px;
  }

  .blogHome_blogCurveR {
    padding-left: 20px;
  }

  .blogHome_blogTitle {
    padding-top: 5px;
  }

  .blogLeafR_container {
    left: 2%;
  }
}

@media (max-width: 639.98px) {
  .BlogHeroTxtContent {
    padding-top: 30px;
  }

  .blogHome_heroTxt {
    padding-top: 15px;
    line-height: 140%;
  }

  .blogHome_blogCurveContainer {
    margin-bottom: 16px;
  }

  .blogHome_blogCurveL {
    padding-right: 0;
  }

  .blogHome_blogTxtContaierR {
    padding-left: 0;
  }

  .blogHome_blogCurveR {
    padding-left: 0;
  }

  .blogHome_blogTxtContaierL {
    padding-right: 0;
  }

  .blogHome_blogTxt {
    -webkit-line-clamp: 5;
  }

  .blogLeafL_container {
    top: -16px;
    left: 3%;
  }

  .blogLeafR_container {
    left: 0;
  }
}

@media (max-width: 475.98px) {
  .blogLeafL_container {
    top: -16px;
    left: 7px;
  }

  .blogLeafR_container {
    bottom: 7%;
    left: -20px;
  }
}
