@use "sass:color";

$dark: #474747;
$primary: #2b4b50;
$light-gray: #e3dfde;

$post-intro: #2f2f2f;
$howto-white: #faf4f2;
$input-label: #515b6f;
$input: color.adjust($primary, $alpha: -0.6);
$crowdfunding-progress: #71cb3f;
$sticky-dropdown-border-top: #2f50384a;
$sticky-dropdown-item: color.adjust($primary, $alpha: -0.2);
