@use "sass:color";

$primary-color: #2b4b50;

$dark: #474747;
$white: #faf4f2;
$green: #71cb3f;
$neutral: #515b6f;
$dark-gray: #2f2f2f;
$light-gray: #e3dfde;

$lang-btn: #e3dfde;
$howto-method-heading: #faf4f2;
$input: color.adjust($primary-color, $alpha: -0.6);
$sticky-dropdown-border-top-color: #2f50384a;
$sticky-dropdown-item: color.adjust($primary-color, $alpha: -0.2);

$primary-color2: #273e3f;
$color-white1: #f0eeee;
