@use "sass:color";

$primary: #2b4b50;
$white2: #faf4f2;
$light-gray: #e3dfde;
$light-gray2: #faf4f2;
$dark: #474747;

$howto-white: #faf4f2;
$input-label: #515b6f;
$input: color.adjust($primary, $alpha: -0.6);
$crowdfunding-progress: #71cb3f;
$sticky-dropdown-border-top: #b3cccc;
$sticky-dropdown-item: color.adjust($primary, $alpha: -0.2);
$servingsize-bg: #456064;
