@use "colors";

.crowdHomeInfo {
  height: clamp(400px, 20vw + 430px, 840px);
}

.crowdHomeInfoContent {
  padding-left: 50px;
}

.crowdHomeInfoHeader {
  line-height: 120%;
  letter-spacing: -0.02em;
}

.crowdHomeInfoTxt {
  font-size: clamp(0.875rem, 1.5vw + 0.1rem, 1.5rem);
  line-height: 150%;
  letter-spacing: -0.02em;
  color: colors.$light-gray;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.crowdHomeInfo_Curve1 {
  position: absolute;
  right: 0;
  padding: 80px 50px 80px 0;
}

.icon {
  display: inline-flex;
  align-self: center;
}

@media (max-width: 1023.98px) {
  .crowdHomeInfoContent {
    padding-left: 25px;
  }

  .crowdHomeInfo_Curve1 {
    padding: 80px 25px 80px 0;
  }
}

@media (max-width: 767.98px) {
  .crowdHomeInfoContent {
    padding-left: 25px;
  }
}

@media (max-width: 639.98px) {
  .crowdHomeInfo {
    height: 360px;
  }

  .crowdHomeInfoContent {
    padding: 25px 0;
  }
}

@media (max-width: 575.98px) {
  .crowdHomeInfo {
    height: 380px;
  }
}

@media (max-width: 475.98px) {
  .crowdHomeInfo {
    height: 400px;
  }
}
