@use "colors";

.formHeroCupIcon {
  width: 100px;
  height: 100%;
}

.formSec {
  padding-top: 100px;
  padding-bottom: 100px;
}

.formSecHeaderIcon {
  height: clamp(38px, 3.5vw + 6px, 58px);
}

.formContainer {
  padding-top: 30px;
  max-width: 940px;
  margin: 0 auto;
}

.formGrid2Container {
  padding: 50px 0;
}

.formGrid {
  column-gap: 40px;
  row-gap: 50px;
  margin-top: 30px;
}

.formInputContainer {
  font-size: 1.125rem;
  color: colors.$neutral;
}

.formInputContainer select option {
  font-size: 1.125rem;
  color: colors.$neutral;
}

.formInputContainer select:required:invalid {
  color: colors.$input;
}

.formInputContainer select option[value=""][disabled] {
  display: none;
}

input[type="submit"].formBtn {
  background-color: colors.$primary-color;
  width: 300px;
  padding: 17px 30px;
  font-size: 16px;
  list-style: 19px;
  font-weight: 700;
  border-radius: 40px;
  margin-top: 100px;
}

.formInput {
  background-color: transparent;
  border: 1px solid colors.$primary-color;
  border-radius: 20px;
}

input[type="text"].formInput::-webkit-input-placeholder,
input[type="email"].formInput::-webkit-input-placeholder {
  font-size: 1.125rem;
  color: colors.$input;
}

input[type="text"].formInput::-moz-placeholder,
input[type="email"].formInput::-moz-placeholderr {
  font-size: 1.125rem;
  color: colors.$input;
}

@media (max-width: 1023.98px) {
  .formGrid {
    column-gap: 60px;
  }
}

@media (max-width: 767.98px) {
  input[type="submit"].formBtn {
    width: 100%;
    padding: 16px 30px;
    margin-top: 70px;
  }
}
