@use "colors";
@use "typography";

.hero {
  @apply pb-20 sm:pb-8 md:pb-14 xl:pb-20 h-full md:h-[clamp(400px,35vw+180px,612px)];
}

.hero-img-curve-container {
  @apply top-0 right-0;

  width: clamp(330px,26.4vw + 150px,560px);
  height: clamp(296px,24vw + 150px,526px);

  @media (max-width: 949.98px) {
    right: -1vw;
  }

  @media (max-width: 899.98px) {
    right: -2vw;
  }

  @media (max-width: 819.98px) {
    right: -2.5vw;
  }

  @media (max-width: 799.98px) {
    right: -3.2vw;
  }

  @media (max-width: 767.98px) {
    right: -5vw;
  }

  @media (max-width: 699.98px) {
    right: -7vw;
  }

  @media (max-width: 669.98px) {
    right: -9vw;
  }
}

.hero-img-sm-container img{
  width: 100%;
  max-height: 375px;
  object-fit: cover;

  @media (min-width: 640px) {
    aspect-ratio: 2.9 / 3.75;
  }
}

.hero-text-container {
  padding-top: 100px;
  padding-bottom: 25px;

  @media (max-width: 1535.98px) {
    padding-top: 95px;
  }

  @media (max-width: 1279.98px) {
    padding-top: 90px;
    padding-bottom: 20px;
  }

  @media (max-width: 1023.98px) {
    padding-top: 75px;
  }

  @media (max-width: 959.98px) {
    padding-top: 70px;
    padding-bottom: 15px;
  }

  @media (max-width: 767.98px) {
    padding-top: 65px;
  }
}

.hero-text-content {
  overflow: hidden;
  padding-top: clamp(28px, 3.6vw + 8px, 60px);
}

.hero-title {
  font-family: typography.$alice;
  font-size: clamp(1.75rem, 3vw + 0.3rem, 3rem);

  @apply leading-[120%] sm:leading-[115%] ;

  @media (min-width: 826px) {
    padding-right: 0;
  }
}

.hero-text {
  font-size: clamp(1rem, 1.3vw + 0.1rem, 1.125rem);
  line-height: 150%;
}

.post-author {
  font-size: clamp(1rem, 1.3vw + 0.1rem, 1.125rem);
  line-height: 150%;
}

.post-publish-date {
  font-size: clamp(0.625rem, 1.5vw + 0.01rem, 0.75rem);
  line-height: 150%;
}