@use "colors";
@use "typography";

.hero {
  @apply h-[550px] sm:h-[clamp(400px,35vw+180px,600px)];
}

.heroCurve2Container {
  @apply top-0 -right-44;

  padding-bottom: clamp(50px, 5vw + 30px, 100px);
}

.hero-text-container {
  padding-top: 110px;
  padding-bottom: clamp(16px, 1.875vw + 4px, 28px);
}

.hero-text-content {
  overflow: hidden;
  padding-top: clamp(28px, 3.6vw + 8px, 60px);
}

.heroTitle {
  line-height: 120%;
  font-family: typography.$alice;
  font-size: clamp(2rem, 3vw + 0.4rem, 3rem);
}

.heroTitle,
.blogHome_heroTitle,
.blogDetails_heroTitle {
  @apply sm:pr-[min(4%,10px)];

  @media (min-width: 826px) {
    padding-right: 0;
  }
}

.heroTxt {
  line-height: 150%;
  color: colors.$light-gray;
  padding-top: clamp(14px, 1.5vw, 20px);
  font-size: clamp(0.875rem, 1.5vw + 0.1rem, 1.25rem);
}
