@use "colors";
@use "typography";

.hero {
  @apply pb-20 h-full sm:h-[clamp(400px,35vw+180px,600px)];
}

.hero-img-curve-container {
  @apply top-0 -right-28 2xl:right-0;

  padding-bottom: clamp(50px, 5vw + 30px, 100px);

  img {
    margin-left: auto;
    width: calc(100% - 11rem);
  }
}

.hero-text-container {
  padding-top: 100px;
  padding-bottom: 25px;

  @media (max-width: 1535.98px) {
    padding-top: 95px;
  }

  @media (max-width: 1279.98px) {
    padding-top: 90px;
    padding-bottom: 20px;
  }

  @media (max-width: 1023.98px) {
    padding-top: 75px;
  }

  @media (max-width: 959.98px) {
    padding-top: 70px;
    padding-bottom: 15px;
  }

  @media (max-width: 825.98px) {
    padding-top: 30px;
  }

  @media (max-width: 767.98px) {
    padding-top: 65px;
  }
}

.hero-text-content {
  overflow: hidden;
  padding-top: clamp(28px, 3.6vw + 8px, 60px);
}

.hero-title {
  font-family: typography.$alice;
  font-size: clamp(2rem, 3vw + 0.4rem, 3rem);

  @apply leading-tight sm:pr-[min(4%,10px)];

  @media (min-width: 826px) {
    padding-right: 0;
  }
}
