@use "colors";
@use "typography";

.how_headerSteps {
  background: colors.$white;
  padding: 28px 20px;
  border-radius: 10px;
}

.how_headerStepsHeading {
  font-family: typography.$alice;
  font-size: 32px;
  line-height: 120%;
  color: colors.$primary-color;
}

.howTo_headerStepsContainer {
  margin-top: 20px;
}

.howTo_headerStepItem {
  min-width: 207px;
  max-width: 240px;
  min-height: 80px;
  padding: 17px 33px;
  background: colors.$primary-color;
  border-radius: 58px;
  font-size: 18px;
  line-height: 130%;
  color: white;
}

.HowToMethodHead {
  background-color: colors.$primary-color;
  padding: 9px 30px;
  border-radius: 10px;
  color: colors.$howto-method-heading;
  font-family: typography.$alice;
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
}

.howToStepContainer {
  background-color: colors.$white;
  border-radius: 10px;
  padding: 35px;
  margin: 30px 0;
}

.howToStepTitle {
  font-weight: 500;
  font-size: 28px;
  line-height: 120%;
  letter-spacing: -0.03em;
  color: colors.$primary-color;
}

.howToStepTxt {
  margin: 20px 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 175%;
  color: colors.$dark;
}

.stepImgContainer {
  margin-top: 20px;
}

@media (max-width: 1023.98px) {
  .howTo_headerStepItem {
    padding: 13px 28px;
  }

  .howToStepContainer {
    padding: 25px 35px;
  }

  .HowToMethodHead {
    padding: 9px 25px;
  }
}

@media (max-width: 767.98px) {
  .howTo_headerStepItem {
    padding: 11px 24px;
  }

  .howToStepContainer {
    padding: 20px 35px;
  }

  .HowToMethodHead {
    padding: 9px 20px;
  }
}

@media (max-width: 639.98px) {
  .howTo_headerStepItem {
    padding: 9px 20px;
  }

  .howToStepContainer {
    padding: 15px 35px;
  }

  .HowToMethodHead {
    padding: 8px 15px;
  }
}
