@use "colors";

#sidebar {
  z-index: 40;
  display: none;
  background-image: url(/bg-images/sidebar.webp);
  background-size: cover;
  background-position: 100% 100%;
  border-radius: no-repeat;
  position: fixed;
  right: 0;
  height: 100%;
  width: 305px;
  padding-bottom: 88px;
}

.sidebarContainer {
  padding: 26px 30px 36px;
}

.sidebarfooter {
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
}

.sidebarMenuBtn {
  margin-left: 18px;
  height: 38px;
  width: 38px;
}

#sidebarOpen,
#sidebarClose {
  height: 100%;
  width: 100%;
  user-select: none;
}

#sidebarClose {
  display: none;
}

@media (min-width: 640px) {
  #sidebar {
    display: none !important;
  }
}

@media (max-width: 325.98px) {
  #sidebar {
    width: 100%;
  }
}
