@use "colors";
@use "typography";

.blogDetails_authImg {
  overflow: hidden;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.blogDetails_authImg img {
  width: 100%;
  height: 100%;
}

.blogDetails_heroAuth {
  font-size: clamp(1rem, 1.3vw + 0.1rem, 1.125rem);
  line-height: 150%;
}

.blogDetails_heroTitle {
  padding-top: 20px;
  font-family: typography.$alice;
  font-size: clamp(2rem, 3vw + 0.4rem, 3rem);
  line-height: 120%;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.blogDetails_heroTxt {
  font-size: clamp(0.875rem, 1.5vw + 0.1rem, 1.25rem);
  line-height: 150%;
  color: colors.$light-gray;
  padding-top: 15px;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.blogContentContainer {
  padding-top: 50px;
  padding-bottom: 50px;
}

.detailedBlog p a {
  padding: 0 3px;
  text-decoration: none;
  background-size: 100% 50%;
  background-position: 0% 100%;
  background-repeat: no-repeat;
  transition: background-image 150ms ease-in-out;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='border-radius:9999px' preserveAspectRatio='none' viewBox='0 0 1 1' fill='%23a7bcbc'%3E%3Cpath d='M0 0h1v1H0z'/%3E%3C/svg%3E");
}

.detailedBlog p a:hover {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='border-radius:9999px' preserveAspectRatio='none' viewBox='0 0 1 1' fill='%23a0b0b0'%3E%3Cpath d='M0 0h1v1H0z'/%3E%3C/svg%3E");
}

#blogStickyBtn {
  cursor: pointer;
  padding: 15px;
}

.blogContent_StickyContainer {
  color: colors.$primary-color;
  padding-left: 128px;
  margin-bottom: 80px;
}

#blogContent_StickyContainerMd {
  background: colors.$light-gray;
  color: colors.$primary-color;
  width: 100%;
  top: 0;
  z-index: 998;
  box-shadow: 0 4px 5px gray;
}

#sticky_p_bar {
  background: colors.$primary-color;
  padding: 2.5px 0;
  border-top-right-radius: 0.127rem;
  border-bottom-right-radius: 0.157rem;
  transition: 0.15s;
}

#blog_StickyHeader {
  padding-bottom: clamp(1.25rem, 3.6vw + 0.01rem, 3.125rem);
  font-size: clamp(1.5rem, 2.2vw + 0.15rem, 2rem);
  font-weight: 700;
}

#blog_StickyItemContainer {
  display: grid;
  row-gap: clamp(1.25rem, 2.5vw + 0.25rem, 2.375rem);
  font-size: clamp(1.25rem, 1.2vw + 0.1rem, 1.5rem);
  line-height: 120%;
}

#blog_StickyDropdownItem {
  padding-top: 13px;
  padding-bottom: 35px;
  max-height: 70vh;
  overflow-y: auto;
  border-top: 1px solid colors.$sticky-dropdown-border-top-color;
}

#blog_StickyItemContainer a {
  display: inline-flex;
  align-items: center;
}

#blog_StickyItemContainer a img {
  width: 45px;
  height: 100%;
  margin-right: 20px;
}

.blog_StickyItemHeaderImgMd {
  width: 20px;
  height: 100%;
  margin-right: 15px;
}

.blog_StickyItemImgMd {
  width: 15px;
  height: 100%;
  margin-right: 10px;
}

.blogDetails_recentTitle {
  font-family: typography.$alice;
  font-size: clamp(2rem, 3vw + 0.4rem, 3rem);
  color: colors.$primary-color;
  margin-bottom: 25px;
}

.blogDetails_CardsContainer {
  gap: 32px;
  margin-bottom: 55px;
}

.blogDetails_Card {
  width: 100%;
}

.blogDetails_CardConentConatiner {
  padding: 60px 45px;
}

.blogHome_cardItemContainer {
  row-gap: 5px;
}

.blogDetails_cardAuth {
  font-size: clamp(0.875rem, 1.5vw + 0.1rem, 1rem);
  line-height: 150%;
}

.blogHome_cardItem {
  font-size: clamp(0.625rem, 1.5vw + 0.01rem, 0.75rem);
  line-height: 120%;
}

.blogHome_cardItem:before {
  content: "";
  border: 0;
}

.blogDetails_CardTitle {
  margin-top: 15px;
  font-family: typography.$alice;
  font-size: clamp(1.5rem, 1.8vw + 0.1rem, 1.75rem);
  line-height: 110%;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.blogDetails_CardTitleIcon {
  width: auto;
  height: clamp(0.625rem, 1.5vw + 0.1rem, 1rem);
}

@media (max-width: 1399.98px) {
  .blogContent_StickyContainer {
    padding-left: 110px;
  }

  .blogDetails_CardConentConatiner {
    padding: 40px 35px;
  }
}

@media (max-width: 1335.98px) {
  .blogContent_StickyContainer {
    padding-left: 90px;
  }
}

@media (max-width: 1279.98px) {
  .blogContent_StickyContainer {
    padding-left: 70px;
  }

  .blogDetails_CardsContainer {
    gap: 32px;
  }

  .blogDetails_CardConentConatiner {
    padding: 30px 28px;
  }
  #blog_StickyItemContainer a img {
    width: 40px;
    margin-right: 15px;
  }
}

@media (max-width: 1151.98px) {
  .blogDetails_CardsContainer {
    gap: 25px;
  }

  .blogDetails_CardTitle {
    margin-top: 10px;
    -webkit-line-clamp: 2;
  }
  #blog_StickyItemContainer a img {
    width: 35px;
    margin-right: 10px;
  }
}

@media (max-width: 1023.98px) {
  .blogContent_StickyContainer {
    padding-left: clamp(1.5rem, 3.8vw + 0.01rem, 3.125rem);
  }

  .blogDetails_CardsContainer {
    gap: 32px;
  }

  .blogDetails_CardConentConatiner {
    padding: 60px 45px;
  }

  .blogDetails_CardTitle {
    margin-top: 15px;
    -webkit-line-clamp: 3;
  }
}

@media (max-width: 899.98px) {
  .blogDetails_CardConentConatiner {
    padding: 40px 35px;
  }

  .blogDetails_CardTitle {
    margin-top: 15px;
    -webkit-line-clamp: 3;
  }
}

@media (max-width: 767.98px) {
  .BlogDetails_HeroTxtContent {
    padding-top: 20px;
  }

  .blogDetails_heroTitle {
    padding-top: 10px;
  }

  .blogDetails_heroTxt {
    padding-top: 12px;
    line-height: 120%;
  }

  .blogDetails_CardTitle {
    -webkit-line-clamp: 2;
  }

  .blogContent_StickyContainer {
    width: 100%;
  }
  #blog_StickyItemContainer a {
    font-weight: 400;
  }
  #blog_StickyItemContainer a img {
    opacity: 1;
  }
}

@media (max-width: 699.98px) {
  .blogDetails_CardConentConatiner {
    padding: 30px 28px;
  }
}

@media (max-width: 639.98px) {
  .blogContentContainer {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .blogDetails_authImg {
    width: 45px;
    height: 45px;
  }

  .BlogDetails_HeroTxtContent {
    padding-top: 30px;
  }

  .blogDetails_heroTitle {
    padding-top: 15px;
  }

  .blogDetails_heroTxt {
    padding-top: 15px;
    line-height: 140%;
  }

  .blogDetails_Card {
    max-width: 380px;
  }

  .blogDetails_CardConentConatiner {
    padding: 40px 35px;
  }

  .blogDetails_CardTitle {
    -webkit-line-clamp: 3;
  }
}

@media (max-width: 375.98px) {
  .blogDetails_CardConentConatiner {
    padding: 30px 28px;
  }

  .blogDetails_CardTitle {
    -webkit-line-clamp: 2;
  }
}

@media (max-width: 324.98px) {
  .blogDetails_CardConentConatiner {
    padding: 20px 25px;
  }

  .blogDetails_CardTitle {
    -webkit-line-clamp: 2;
  }
}
