@use "colors";

.recipe-Time-Container {
  margin-top: clamp(1.25rem, 2vw + 0.2rem, 2rem);
  row-gap: clamp(0.75rem, 1.5vw + 0.1rem, 1.25rem);
  column-gap: clamp(25px, 3vw + 1px, 60px);
}

.recipe-Time-Icon {
  width: clamp(1rem, 1.5vw + 0.55rem, 1.875rem);
}

.recipe-Time-Tag {
  @apply leading-[12px] md:leading-[180%];

  font-size: clamp(0.625rem, 1.3vw + 0.01rem, 0.75rem);
}

.recipe-cooktime {
  @apply leading-[16px] md:leading-[150%];

  font-size: clamp(0.875rem, 1.3vw + 0.1rem, 1rem);
}

.recipe-sec-title {
  font-size: clamp(2rem, 3vw + 0.55rem, 2.625rem);
  padding: 10px clamp(15px, 2.08vw + 0.01rem, 30px);

  @media (max-width: 767.98px) {
    padding: 15px;
  }
}

.recipe-sec-text {
  font-size: clamp(1rem, 1.5vw + 0.1rem, 1.25rem);
}

.similarRecipies {
  & li {
    @apply leading-[175%] sm:leading-[180%];

    font-size: clamp(1rem, 1.5vw + 0.15rem, 1.5rem);
  }

  & a {
    @apply font-bold sm:font-semibold px-1 no-underline bg-bottom bg-no-repeat transition-all;

    background-size: 100% 45%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='border-radius:9999px' preserveAspectRatio='none' viewBox='0 0 1 1' fill='%23b3cccc'%3E%3Cpath d='M0 0h1v1H0z'/%3E%3C/svg%3E");

    &:hover {
      filter: brightness(0.95);
    }
  }
}

.recipe-sec-time-container {
  column-gap: clamp(40px, 6vw + 10px, 80px);
}

.recipe-sec-time-icon {
  width: clamp(1.25rem, 1.5vw + 0.55rem, 1.875rem);
  height: clamp(1.25rem, 1.5vw + 0.55rem, 1.875rem);
}

.recipe-sec-cook-icon {
  height: clamp(1.563rem, 2.2vw + 0.15rem, 2.188rem);
}

.recipe-sec-content-border {
  border-left: 3px solid colors.$primary;
  border-radius: 99px;
  margin-right: clamp(0.938rem, 1.5vw + 0.3rem, 1.563rem);
}

.recipe-sec-content-title {
  font-size: clamp(1.125rem, 2.2vw + 0.4rem, 2rem);
  line-height: 150%;
}

.recipe-sec-nutritions-container {
  grid-template-columns: repeat(auto-fill, minmax(200px, 5fr));

  @media (max-width: 639.98px) {
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  }
}

.recipe-sec-servingsize-input-container {
  gap: clamp(0.438rem, 1.1vw + 0.01rem, 0.938rem);
}

.recipe-sec-servingsize-input {
  background: colors.$servingsize-bg;
  font-size: clamp(1rem, 1.3vw + 0.1rem, 1.125rem);
  border-right: 11px solid transparent;
}

.recipe-sec-ingridients-checkbox-label {
  display: block;
  position: relative;
  margin: auto;
  cursor: pointer;
  height: 16px;
  width: 16px;
  clear: both;

  & input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  & input:checked ~ .recipe-sec-ingridients-checkbox {
    background-color: colors.$primary;
    border-radius: 3px;
    opacity: 1;
    border: 2px solid colors.$primary;
  }
}

.recipe-sec-ingridients-checkbox-label .recipe-sec-ingridients-checkbox {
  position: absolute;
  height: 16px;
  width: 16px;
  background-color: transparent;
  border-radius: 3px;
  border: 2px solid #000;

  &::after {
    position: absolute;
    content: "✓";
    opacity: 0;
    top: -0.68rem;
    left: 1.2px;
    font-size: 0.85rem;
    font-weight: 1000;
    -webkit-transform: rotate(5deg) scale(1);
    -ms-transform: rotate(5deg) scale(1);
    transform: rotate(5deg) scale(1);
    filter: invert(2) brightness(2);
  }
}

.recipe-sec-ingridients-checkbox-label
  input:checked
  ~ .recipe-sec-ingridients-checkbox::after {
  opacity: 1;
  background-color: transparent;
  border-radius: 0;
}

.recipe-sec-ingridients-checkbox {
  font-size: clamp(1rem, 1.5vw + 0.1rem, 1.25rem);
  line-height: 175%;
  color: colors.$dark;
}

.recipe-sec-coockingpart-title{
  font-size: clamp(1.5rem, 1.8vw + 0.1rem, 1.75rem);
}

.recipe-sec-step-num {
  width: clamp(30px, 3vw + 0.4rem, 45px);
  height: clamp(30px, 3vw + 0.4rem, 45px);
  font-size: clamp(1rem, 1.5vw + 0.1rem, 1.25rem);
}

.recipe-step-img-container {
  width: 100%;
  max-height: 310px;

  @media (min-width: 640px) {
    aspect-ratio: 7.3 / 2.83;
  }
}

.recipe-sec-icon {
  width: clamp(1.75rem, 2.5vw + 0.15rem, 2.375rem);
  height: clamp(1.75rem, 2.5vw + 0.15rem, 2.375rem);
}

.recipe-sec-tips-title{
  font-size: clamp(1.125rem, 1.5vw + 0.15rem, 1.5rem);
}

.recent-posts-title {
  font-size: clamp(2rem, 3vw + 0.4rem, 3rem);
}

.recent-post-card {
  @apply w-full max-w-[380px] sm:max-w-none;
}

.recent-post-card-content-container {
  padding: clamp(20px, 6.4vw, 40px) clamp(24px, 3.8vw + 11.75px, 36px);

  @media (min-width: 640px) {
    padding: clamp(30px, 7.8125vw - 20px, 60px)
      clamp(28px, 4.6875vw - 2px, 46px);
  }

  @media (min-width: 1024px) {
    padding: clamp(30px, 8vw - 51.75px, 60px) clamp(28px, 4.8vw - 21px, 46px);
  }
}

.recent-post-card-author {
  line-height: 150%;
  font-size: clamp(0.875rem, 1.5vw + 0.1rem, 1rem);
}

.recent-post-card-title {
  font-size: clamp(1.5rem, 1.8vw + 0.1rem, 1.75rem);
}

.recent-post-card-title-icon {
  height: clamp(0.625rem, 1.5vw + 0.1rem, 1rem);
}
