.er_ecom_input_container,
.er_ecom_overlay_input_container {
  position: relative;
  height: 38px !important;
  border-radius: 40px !important;
  overflow: hidden;

  @media (min-width: 1280px) {
    height: 50px !important;
  }
}

.er-search-content {
  background-color: #e3dfde !important;
}

.er_ecom_search_input {
  border-radius: 40px !important;
  background-color: #e3dfde !important;

  @media (min-width: 640px) {
    width: 350px !important;
  }
}

.er_ecom_overlay_inputboxdiv {
  background-color: #faf4f2 !important;
}

.er_ecom_overlay_search_input {
  border-radius: 40px !important;
}

.er-close {
  padding: 0 !important;
}

.er-close i {
  font-size: 2rem;
  background-color: #e3dfde !important;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
}

.er_ecom_search_button,
.er_ecom_overlay_search_button {
  position: absolute;
  background-color: #2b4b50 !important;
  border-radius: 100% !important;
  padding: 2px 7px !important;
  width: 30px !important;
  height: 30px !important;
  top: 5px;
  right: 5px;

  @media (min-width: 1280px) {
    display: inline-block;
    padding: 0 13px !important;
    width: 40px !important;
    height: 40px !important;
  }

  i {
    color: #e3dfde !important;
  }
}

.er-suggestion-sm {
  background-color: #faf4f2 !important;
}

.er_ecom_suggestion_productdiv,
.ecom_row_container,
.er_ecom_suggestion_container,
.er_products_block,
.ecom_tab_12,
.er_ecom_suggestion_product {
  background-color: transparent !important;
}

.er_ecom_sugg_imgdiv {
  overflow: hidden !important;
  border-radius: 6px !important;

  img {
    object-fit: cover !important;
    width: 100% !important;
    height: 100% !important;
  }
}

.er_ecom_suggestion_productdiv_container {
  li {
    text-align: left !important;
    padding-left: 0 !important;
  }
}

.er_ecom_suggestion_container {
  padding: 40px 0 20px !important;
  overflow: hidden !important;
  border-radius: 15px !important;
  background-color: #e3dfde !important;
}

.er_more_results {
  display: grid;
  height: 10px;
  align-items: flex-start;
  justify-items: end;
  position: absolute !important;
  top: -550px !important;
  right: 30px !important;
  background-color: transparent !important;

  @media (min-width: 769px) {
    top: -320px !important;
  }
}

.er_more_result_btn {
  font-weight: 500 !important;
  font-size: 14px !important;
  line-height: 16px !important;
  color: #2b4b50 !important;
  background-color: transparent !important;
}

.er_more_result_btn {
  text-indent: -9999px;
  line-height: 0; /* Collapse the original line */
}

.er_more_result_btn::after {
  content: "See All";
  text-indent: 0;
  display: block;
  line-height: initial; /* New content takes up original line height */
}

.ecom_des_6,
.ecom_tab_12,
.show_mob,
.show_tab,
.show_des,
.show_lg_screen,
.er_ecom_suggestion_productdiv {
  overflow: visible !important;
}

er-search-results .ci_inner_div {
  @media (max-width: 1799.98px) {
    margin: auto 50px !important;
  }
}

.ecom_container_fluid {
  padding-top: 10px;
  overflow: hidden !important;
}

.ecom_container_fluid,
.er_ecom_header_container,
.er-search-result-box,
.er_ecom_search_result_container {
  background-color: transparent !important;
}

.er_ecom_horizontal_result_container {
  border-radius: 20px !important;
  background-color: #faf4f2 !important;
}

#er_search_results {
  display: grid;
  gap: 10px !important;

  .er_ecom_horizontal_product_list {
    margin-top: 0 !important;
  }

  @media (min-width: 768px) {
    gap: 20px !important;
  }
}

.er_ecom_horizontal_result_container .ecom_mob_9 {
  display: flex;
  align-items: center;
}

.er_ecom_vertical_result_container {
  border-radius: 20px !important;
  background-color: #faf4f2 !important;
  overflow: hidden !important;
}

.er_ecom_vertical_result_container .ecom_search_results {
  padding: 20px !important;
}

.er_ecom_imgdiv,
.er_ecom_image_container {
  overflow: hidden !important;
  border-radius: 16px !important;

  img {
    border-radius: 16px !important;
    overflow: hidden !important;
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
  }
}

.er_ecom_imgdiv {
  @media (max-width: 640px) {
    margin: 10px 0 !important;
  }
}

.er_ecom_overlay_inputboxdiv,
.er_ecom_overlay_search_input,
.er_ecom_sort_by,
.er_ecom_view_mode span {
  background-color: #faf4f2 !important;
}

.er_ecom_result_count {
  color: #8b8b8b;

  .er_ecom_result_query {
    color: #2b4b50 !important;
  }
}

.er_ecom_search_pagination .page-navigation {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center !important;
  margin: auto !important;
  width: 100% !important;

  li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px !important;
    height: 30px !important;
    color: #e3dfde !important;
    background-color: #2b4b50 !important;
    border-radius: 100% !important;
  }
  .er-active {
    font-weight: 700 !important;
    color: #474747 !important;
    border: 2px solid #2b4b50 !important;
    background-color: #faf4f2 !important;
  }
}
