$recoleta: "Recoleta", "Recoleta Fallback", "Times New Roman", Times, Cambria,
  "Hoefler Text", Utopia, "Liberation Serif", "Nimbus Roman No9 L Regular",
  serif;

$roboto-flex: "Roboto Flex", "Roboto Flex Fallback", Roboto, Arial,
  ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
  "Helvetica Neue", "Noto Sans", sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

@supports not (font-variation-settings: normal) {
  @font-face {
    font-family: "Roboto Flex";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/roboto-flex-v8-latin-regular.woff2") format("woff2"),
      url("/fonts/roboto-flex-v8-latin-regular.woff") format("woff");
  }
}

@supports (font-variation-settings: normal) {
  @font-face {
    font-family: "Roboto Flex";
    font-style: normal;
    font-weight: 100 1000;
    font-display: swap;
    src: url("/fonts/roboto-flex-v8-variable.woff2") format("woff2-variations"),
      url("/fonts/roboto-flex-v8-variable.woff2") format("woff2");
  }
}

@font-face {
  font-family: "Recoleta";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/recoleta-v2.woff2") format("woff2"),
    url("/fonts/recoleta-v2.woff") format("woff");
}

@font-face {
  font-family: "Recoleta Fallback";
  size-adjust: 106.5%;
  ascent-override: 84%;
  src: local("Times New Roman");
}

@font-face {
  font-family: "Roboto Flex Fallback";
  size-adjust: 99.56%;
  src: local("Arial");
}

html {
  @apply text-secondary;

  font-weight: 400;
  font-family: $roboto-flex;
}

.recoleta {
  font-family: $recoleta;
}

.roboto-flex {
  font-family: $roboto-flex;
}
