@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("/fonts/Roboto-Regular.ttf");
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("/fonts/Roboto-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("/fonts/Roboto-Light.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("/fonts/Roboto-Bold.ttf");
  font-style: bold;
  font-weight: 700;
}
@font-face {
  font-family: "Alice";
  font-display: swap;
  src: url("/fonts/Alice-Regular.ttf");
}
:root{
	--default-color: #2B4B50;
	--default-color40: #2b4b5066;
	--color-wite: #fff;
	--color-neutrals: #515B6F;
	--color-light-gray: #E3DFDE;
	--lang-btn-clr: #E3DFDE;
}
body{
	background-color: var(--color-light-gray);
	font-family: Roboto;
	color: var(--color-light-gray);
}
.wrapper {
  width: 100%;
  padding: 0 50px;
  margin: 0 auto;
}
@media (min-width: 1151.98px) {
  .wrapper {
    max-width: 1052px;
    padding: 0;
  }
}
@media (min-width: 1279.98px) {
  .wrapper {
    max-width: 1128px;
  }
}
@media (min-width: 1535.98px) {
  .wrapper {
    max-width: 1436px;
  }
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}
.alice{
	font-family: Alice;
}
.bg-default{
	background-color: var(--default-color);
}
.color-default{
	color: var(--default-color);
}
.header-default{
	font-family: Alice;
	font-size: clamp(2.125rem, 3vw + .4rem, 3.5rem);
}


.brandLogo{
	width: 100%;
	height: 50px;
}
.navbar{
	padding: 0;
	padding-top: 50px;
	margin: 0 auto;
}
.dropdown{
	background-color: var(--lang-btn-clr);
	border-radius: 20px;
	color: var(--default-color);
	cursor: pointer;
}
.dropdownItem{
	background-color: var(--lang-btn-clr);
	padding: 0.5rem .55rem;
}
#dropdownMenu{
	width: 100%;
	border-top: 1px solid var(--default-color);
	border-radius: 0 0 20px 20px;
}
.langBtn{
	padding: 0.5rem .55rem;
}
.langIcon{
	width: 34px;
	height: 34px;
}
@media (max-width: 1023.98px){
	.brandLogo{
		height: 42px;
	}
	.langBtn, .dropdownItem{
		padding: 0.438rem .563rem;
	}
	.langIcon{
		width: 28px;
		height: 28px;
	}
}

.hero{
	margin-top: -102px;
	height: clamp(460px, 45vw + 180px, 940px);
}
.heroCurve1{
	width: 100%;
	height: auto;
}
.heroCurve2Container{
	padding-bottom: 7%;
	top: 0;
	right: 0;
}
.heroCurve3Container{
	width: 100vw;
}
@media (max-width: 1536px) {
  .heroCurve2Container{
		right: -100px;
	}
}
@media (max-width: 1151.98px){
	.heroCurve1{
		width: 110vw;
		height: 100%;
		margin-left: -2vw;
	}
}
@media (max-width: 767.98px){
	.heroCurve1{
		width: 120vw;
		margin-left: -10vw;
	}
}
@media (max-width: 639.98px){
	.hero{
		height: 500px;
	}
	.heroCurve1{
		width: 300vw;
		position: relative;
		left: 0;
	}
}

.HeroTxtContent{
	display: flex;
	align-items: center;
	height: 100%;
}
.heroTitle{
	font-family: Alice;
	font-size: clamp(2.25rem, 3vw + .4rem, 3.5rem);
	line-height: clamp(2.25rem, 3vw + .4rem, 3.75rem);
}
.heroCupIcon{
	margin-right: 30%;
	width: clamp(32px, 3.5vw + 6px, 52px);
	height: 100%;
}
.heroLoveIcon{
	width: 100%;
	height: 35px;
}
.heroTxt{
	font-size: clamp(.875rem, 1.5vw + .1rem, 1.5rem);
	color: var(--color-light-gray);
	display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}
@media (max-width: 767.98px){
	.HeroTxtContainer{
		padding-top: 50px;
	}
}
@media (max-width: 714.98px){
	.HeroTxtContainer{
		padding-top: 80px;
	}
}
@media (max-width: 639.98px){
	.heroTitle, .heroTxt{
		text-align: center;
	}
}
@media (max-width: 439.98px){
	.HeroTxtContent{
		align-items: top;
		height: auto;
	}
	.heroTitle, .heroTxt{
		text-align: left;
	}
	.HeroTxtContainer{
		padding-top: 110px;
	}
}

.planSec{
	padding-top: 100px;
	padding-bottom: 100px;
}
.PlanCard{
	background-color: var(--default-color);
	width: 100%;
	border-radius: 60px;
	padding: 72px 52px;
}
.PlanCardIcon{
	max-width: 35px;
	height: 35px;
}
.PlanCardPrice{
	font-family: Alice;
	font-size: 54px;
}
.PlanCardList ul{
	padding-left: 0;
}
.PlanCardList ul li {
	display: inline-block;
	align-items: center;
  font-size: 18px;
  padding-left: 0;
}
.PlanCardList ul li::before {
  content: '';
  display: inline-block;
  height: 18px;
  width: 18px;
  margin-right: 10px;
  vertical-align:middle;
  background-image: url(/images/tick.svg);
}
.PlanCardBtn{
	background-color: var(--color-light-gray);
	width: 140px;
	padding: 17px;
	border-radius: 20px;
	color: var(--default-color);
}
.planSecLeafImg{
	height: 100%;
	width: 120px;
	filter: drop-shadow(0px 8px 9px rgba(0, 0, 0, 0.5));
}
@media (max-width: 1279.98px) {
	.PlanCard{
		padding: 62px 42px;
		border-radius: 45px;
	}
}
@media (max-width: 767.98px) {
	.PlanCard{
		width: 400px;
		padding: 52px 32px;
	}
}
@media (max-width: 575.98px) {
	.PlanCard{
		width: 100%;
	}
}
@media (max-width: 375.98px) {
	.PlanCard{
		padding: 30px 22px;
	}
}

.homeSec3{
	height: clamp(460px, 45vw + 180px, 940px);
}
.homeSec3ContentContainer{
	padding-top: 100px;
	padding-bottom: 100px;
	padding-left: 50px;
}
.homeSec3Content{
	padding-left: 50px;
}
.homeSec3Header{
	line-height: clamp(2.5rem, 3vw + .4rem, 3.75rem);
}
.homeSec3Txt{
	font-size: clamp(.875rem, 1.5vw + .1rem, 1.5rem);
	color: var(--color-light-gray);
	display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}
.homeSec3FlowerIcon{
	width: clamp(42px, 3.5vw + 6px, 60px);
	height: 100%;
}
.homeSec3_Curve1{
	padding-top: 100px;
	padding-bottom: 100px;
	padding-right: 50px;
}
.homeSec3_Curve1Container{
	left: 0;
}
.icon {
  display: inline-flex;
  align-self: center;
}
@media (max-width: 1856.98px){
	.homeSec3_Curve1Container{
		left: -56px;
	}
}
@media (max-width: 1599.98px){
	.homeSec3_Curve1Container{
		left: -96px;
	}
}
@media (max-width: 639.98px){
	.homeSec3ContentContainer{
		padding-top: 50px;
		padding-bottom: 50px;
		padding-left: auto;
	}
	.homeSec3Header{
		line-height: clamp(2.25rem, 3vw + .4rem, 3.75rem);
	}
}
.separator{
	padding:50px 0;
}

.footer {
	height: clamp(230px, 35vw + 30px, 450px);
	overflow: hidden;
}
.footerCurveBg{
	padding-right: 40px;
}
.footerContainer{
	padding-top: clamp(25px, 7vw + 6px, 100px);
	padding-bottom: clamp(25px, 7vw + 6px, 100px);
}
.footerBrandLogo{
	width: 100%;
	height: clamp(63px, 7vw + 6px, 88px);
}
.footerLeaf{
	width: 100%;
	height: clamp(100px, 12vw + 10px, 200px);;
	filter: drop-shadow(0px 8px 9px rgba(0, 0, 0, 0.5));
}
.copyrightTxt{
	font-size: clamp(.75rem, 1.5vw + .1rem, 1rem);
}
@media (max-width: 1023.98px){
	.footerCurveBg{
		padding-right: 20px;
	}
}
@media (max-width: 767.98px){
	.footerCurveBg{
		padding-right: 0px;
	}
	.footerLeaf{
		height: clamp(100px, 12vw + 10px, 200px);
	}
}


.formHeroCupIcon{
	width: 100px;
	height: 100%;
}
.formSec{
	padding-top: 100px;
	padding-bottom: 100px;
}
.formSecHeaderIcon{
	height: clamp(38px, 3.5vw + 6px, 58px);
}
.formContainer{
	padding-top: 30px;
}
.formGrid2Container{
	padding-top: 50px;
}
.formGrid{
	column-gap: 230px;
	row-gap: 30px;
	margin-top: 30px;
}
.formGrid2Container{
	padding-bottom: 50px;
}
.formInputContainer{
	font-size: 1.125rem;
	color: var(--color-neutrals);
}
.formInputContainer select option{
  font-size: 1.125rem;
	color: var(--color-neutrals);
}

.formInputContainer select:required:invalid {
  color: var(--default-color40);
}
.formInputContainer select option[value=""][disabled] {
  display: none;
}
input[type="submit"].formBtn{
	background-color: var(--default-color);
	width: 300px;
	padding: 18px 30px;
	font-weight: 700;
	border-radius: 20px;
}

.formInput{
	background-color: transparent;
	border: 1px solid var(--default-color);
	border-radius: 20px;
}
.formBtn{
}
input[type="text"].formInput::-webkit-input-placeholder, input[type="email"].formInput::-webkit-input-placeholder{
	font-size: 1.125rem;
	color: var(--default-color40);
}
input[type="text"].formInput::-moz-placeholder, input[type="email"].formInput::-moz-placeholderr{
	font-size: 1.125rem;
	color: var(--default-color40);
}
@media (max-width: 1023.98px){
	.formGrid{
		column-gap: 60px;
	}
}

.thanksSec1{
	height: clamp(460px, 45vw + 180px, 940px);
}
.thanksSec1ContentContainer{
	padding-top: 100px;
	padding-bottom: 100px;
	padding-left: 50px;
}
.thanksSec1_Curve1Container{
	left: 0;
}
.thanksSec1_Curve1{
	padding-top: 100px;
	padding-bottom: 100px;
	padding-right: 50px;
}
.thanksSec1_Curve2{
	height: 300px;
}
.thanksSec1Txt{
	font-size: clamp(.875rem, 1.5vw + .1rem, 1.5rem);
	color: var(--default-color);
	display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}
@media (max-width: 1856.98px){
	.thanksSec1_Curve1Container{
		left: -56px;
	}
}
@media (max-width: 1599.98px){
	.thanksSec1_Curve1Container{
		left: -96px;
	}
}
@media (max-width: 639.98px){
	.thanksSeparator{
		padding: 50px 0;
	}
	.thanksSec1{
		height: 100%;
	}
	.thanksSec1ContentContainer{
		padding-bottom: 30px;
		padding-left: auto;
	}
}