---
import CMS from "@store/CMS";
import DynamicHTML from "@components/DynamicHTML.astro";
import OrderSummary from "@components/OrderSummary.astro";

const { page, recurData } = Astro.props,
  { locale } = page;
---

<style lang="scss">
  @use "src/styles/poly-fluid" as *;
</style>

<div>
  <h1 class="alice text-primary text-[2rem]">Checkout Shipping</h1>
</div>
