---
import CMS from "@store/CMS";
import DynamicHTML from "@components/DynamicHTML.astro";
import OrderSummary from "@components/OrderSummary.astro";

const { page, recurData } = Astro.props;

const { locale } = page,
  { data: checkoutInformationData } = CMS.get("checkoutInformation"),
  { URL_slug: checkoutInfoPageSlug } = checkoutInformationData.attributes.Meta,
  checkoutInfoPageLink = "/" + locale + "/" + checkoutInfoPageSlug;
---

<style lang="scss">
  @use "src/styles/poly-fluid" as *;

  #shipping-details {
    padding: poly-fluid-clamp(
      (
        375px: 50px 24px,
        1024px: 50px 29px,
      )
    );

    @media (min-width: 1024px) {
      padding: poly-fluid-clamp(
        (
          1024px: 29px 42px,
          1440px: 32px 56px,
        )
      );
    }
  }

  .shipping-detail {
    @apply flex flex-col gap-1.5;

    div {
      &:first-of-type {
        @apply font-bold text-dark;

        font-size: poly-fluid-clamp(
          (
            375px: 16px,
            1440px: 18px,
          )
        );
      }

      &:last-of-type {
        @apply flex justify-between;

        gap: poly-fluid-clamp(
          (
            375px: 20px,
            1440px: 68px,
          )
        );

        span,
        button {
          font-size: poly-fluid-clamp(
            (
              375px: 18px,
              1440px: 24px,
            )
          );
        }

        span {
          @apply text-dark2;
        }

        button {
          @apply font-semibold text-primary leading-[130%];
        }
      }
    }
  }

  .shipping-method,
  .shipping-cost {
    font-size: poly-fluid-clamp(
      (
        375px: 18px,
        1440px: 24px,
      )
    );
  }
</style>

<script define:vars={{ checkoutInfoPageLink }}>
  if (Object.keys(window.checkoutContactInfo).length === 0) {
    location.href = checkoutInfoPageLink;
  }
</script>

<section id="shipping-details" class="flex flex-col gap-12">
  <div class="p-4 gap-6 flex flex-col bg-lightgray2 rounded-2xl">
    <div class="shipping-detail">
      <div>Contact</div>

      <div>
        <span class="break-all">
          <DynamicHTML htmlFn={() => window.checkoutContactInfo.email} />
        </span>

        <button>Change</button>
      </div>
    </div>

    <div class="border border-dark opacity-80"></div>

    <div class="shipping-detail">
      <div>Delivery Address</div>

      <div>
        <span>
          <DynamicHTML htmlFn={() => window.checkoutContactInfo.address} />
        </span>

        <button>Change</button>
      </div>
    </div>
  </div>

  <div class="flex flex-col gap-4">
    <h4 class="alice">Shipping Method</h4>

    <div class="gap-5 flex items-center">
      <div class="p-1 border-2 border-primary rounded-full">
        <div class="w-2 h-2 bg-primary rounded-full"></div>
      </div>

      <span class="gap-3 flex items-center">
        <span class="shipping-method font-semibold text-dark2 leading-[130%]">
          Standard
        </span>

        <span class="w-1 h-1 bg-primary rounded-full">.</span>

        <span class="shipping-cost font-semibold text-dark2 leading-[130%]">
          $4.50
        </span>
      </span>
    </div>
  </div>

  <div class="block lg:hidden -mb-6">
    <OrderSummary />
  </div>

  <div
    class="flex flex-col sm:flex-row items-center justify-center sm:justify-start gap-9 sm:gap-12"
  >
    <button
      class="w-full sm:w-auto py-4 px-20 sm:px-24 bg-primary text-lightgray font-bold rounded-full"
    >
      Continue To Payment
    </button>

    <a href={checkoutInfoPageLink} class="text-primary font-bold">
      Return To Information
    </a>
  </div>
</section>
