<!DOCTYPE HTML>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Page not found</title>
</head>
<body style="overflow: hidden; background-color: #2B4B50;">
  <div style="display: flex; flex-wrap: wrap; justify-content: center; align-items: center; height: 100vh;">
  	<div role="main">
  		<div style="display:flex; justify-content:center;">
  			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 252.1 173.4" width="50%"><path d="M202.4,61.9a78.1,78.1,0,0,0-152.8,0,55.9,55.9,0,0,0,6.3,111.5H196.2a55.9,55.9,0,0,0,6.2-111.5Zm-41.8,64.3a8.4,8.4,0,0,1,0,11.9,8.7,8.7,0,0,1-6,2.5,8.5,8.5,0,0,1-5.9-2.5L126,115.4l-22.6,22.7a8.7,8.7,0,0,1-6,2.5,8.5,8.5,0,0,1-5.9-2.5,8.4,8.4,0,0,1,0-11.9l22.7-22.7L91.5,80.9A8.4,8.4,0,0,1,103.4,69L126,91.7,148.7,69a8.4,8.4,0,0,1,11.9,11.9l-22.7,22.6Z" transform="translate(0 0)" style="fill:red"/></svg>
  		</div>
  	<h1 style="width: 100%; text-align: center; color: #fff;">This page can not be found.</h1>
  	</div>
  </div>
</body>
</html>