---
import CMS from "@store/CMS";
import { Picture } from "astro-imagetools/components";

const { locale, authors, noAuthorImg, createdAt, curved_bg, blackLight } = Astro.props,
  { STRAPI_URL } = import.meta.env;

const ariaLabelRecurData = CMS.get("ariaLabelRecurringElement", locale);
---

{
  authors?.data.length > 0 && (
    <div class="division-in-element-gap flex items-center">
      {!noAuthorImg &&
        authors.data.map(
          ({ attributes: { Profile_picture: img } }, index) =>
            img?.data && (
              <div
                class:list={[
                  "quick-info-author-img",
                  index > 0 &&
                    "relative -ml-[clamp(15px,calc(2.5vw-1px),35px)]",
                ]}
              >
                <Picture
                  width={50}
                  height={50}
                  loading="eager"
                  alt={img.data.attributes.alternativeText}
                  src={STRAPI_URL + img.data.attributes.url}
                />
              </div>
            ),
        )}

      <div
        class:list={[
          blackLight ? "quick-info-black-light" : "quick-info-default",
          curved_bg ? "quick-info-black-light-sm" : "quick-info-secondary-light-sm",
        ]}
        >
        <div
          role="presentation"
          aria-label={authors.data.map(
            ({ attributes }, i) =>
              ariaLabelRecurData.Wrote_by_text +
              (i > 0 ? ", " : " ") +
              attributes.givenName,
          )}
          class="author-name"
        >
          {authors.data.map(({ attributes }, index) => (
            <span>{`${index > 0 ? ", " : " "}` + attributes.givenName}</span>
          ))}
        </div>

        {createdAt && (
          <div class="quick-info-item">
            {new Date(createdAt).toLocaleString("en-US", {
              day: "numeric",
              month: "long",
            })}
          </div>
        )}
      </div>
    </div>
  )
}
