---
import Markdown from "@astrojs/markdown-component";
import RecurringImages from "@store/RecurringImages";
import HeroBackground from "@components/HeroBackground.astro";
import UpdateHeroTopMargin from "@scripts/UpdateHeroTopMargin.astro";

const { white_cup, white_love_ribbon } = RecurringImages;

const { title, introText } = Astro.props;
---

<style lang="scss">
  @use "src/styles/colors";

  .hero-icon {
    @apply w-full object-contain;

    height: clamp(40px, 6vw + 15px, 100px);
  }

  .hero-text {
    &,
    a {
      color: colors.$light-gray;
      font-size: clamp(1rem, 1.5vw + 0.1rem, 1.5rem) !important;
    }
  }
</style>

<section class="hero overflow-hidden relative">
  <UpdateHeroTopMargin />

  <HeroBackground />

  <div
    class="wrapper hero-text-container relative h-full flex flex-wrap justify-center z-30"
  >
    <div
      role="banner"
      class="hero-text-content w-full md:w-9/12 lg:w-7/12 text-center"
    >
      <img
        class="hero-icon hidden sm:block w-full h-full mx-auto"
        {...white_cup}
      />

      <img
        class="hero-icon block sm:hidden w-full h-full mx-auto"
        {...white_love_ribbon}
      />

      <h1 class="hero-title leading-tight tracking-tight">{title}</h1>

      <div class="hero-text prose max-w-none pt-7 mt-0.5">
        <Markdown>{introText}</Markdown>
      </div>
    </div>
  </div>
</section>
