---
import Markdown from "@astrojs/markdown-component";

const { page } = Astro.props;
---

<div role="complementary" class="wrapper w-full h-full p-6 sm:px-0 sm:py-12">
  <h2 class="heading-primary text-primary leading-[1.2]">
    {page.Heading_block}
  </h2>

  <div class="content-text prose pt-0.5 mt-7">
    <Markdown>{page.Block_text}</Markdown>
  </div>
</div>
