---
import CupIcon from "@images/cup.svg";
import LoveIcon from "@images/love.svg";
import Markdown from "@astrojs/markdown-component";
import HeroBackground from "@components/HeroBackground.astro";
import UpdateHeroTopMargin from "@scripts/UpdateHeroTopMargin.astro";

const { title, introText } = Astro.props;
---

<style lang="scss">
  @use "src/styles/colors";
  @use "src/styles/typography";

  .hero-icon {
    @apply w-full object-contain;

    height: clamp(40px, 6vw + 15px, 100px);
  }

  .hero-title {
    font-family: typography.$alice;
    font-size: clamp(2rem, 3vw + 0.4rem, 3rem);
  }

  .hero-text {
    &,
    a {
      color: colors.$light-gray;
      font-size: clamp(1rem, 1.5vw + 0.1rem, 1.5rem);
    }
  }
</style>

<div class="hero overflow-hidden relative">
  <UpdateHeroTopMargin />

  <HeroBackground />

  <div
    class="hero-text-container wrapper relative h-full flex flex-wrap justify-center z-30"
  >
    <div
      role="banner"
      class="hero-text-content w-full md:w-9/12 lg:w-7/12 text-center"
    >
      <img
        class="hero-icon hidden sm:block w-full h-full mx-auto"
        src={CupIcon}
        alt="Cup"
      />

      <img
        class="hero-icon block sm:hidden w-full h-full mx-auto"
        src={LoveIcon}
        alt="Love"
      />

      <h1 class="hero-title leading-tight tracking-tight">{title}</h1>

      <div class="hero-text prose max-w-none pt-7 mt-0.5">
        <Markdown>{introText}</Markdown>
      </div>
    </div>
  </div>
</div>
