---
import Markdown from "@astrojs/markdown-component";

const { page } = Astro.props;
---

<style lang="scss" is:global>
  .content-text {
    p,
    ol,
    ul,
    p s,
    blockquote p {
      a {
        @apply font-bold sm:font-semibold px-1 no-underline bg-bottom bg-no-repeat transition-all;

        background-size: 100% 45%;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='border-radius:9999px' preserveAspectRatio='none' viewBox='0 0 1 1' fill='%23b3cccc'%3E%3Cpath d='M0 0h1v1H0z'/%3E%3C/svg%3E");

        &:hover {
          filter: brightness(0.95);
        }
      }
    }
  }
</style>

<h2 class="heading-primary text-primary leading-[115%] font-bold">
  {page.Heading_block}
</h2>

<div class="content-text prose pt-0.5 mt-7">
  <Markdown>{page.Block_text}</Markdown>
</div>
