---
import Markdown from "@astrojs/markdown-component";

const { page } = Astro.props;
---

<div role="complementary" class="w-full h-full wrapper p-6 sm:px-0 sm:py-12">
  <h2 class="heading-primary leading-[1.2] text-primary">
    {page.Heading_block}
  </h2>

  <div class="pt-0.5 mt-7 prose content-text">
    <Markdown>{page.Block_text}</Markdown>
  </div>
</div>
