---
import Hero from "@components/Hero.astro";
import Markdown from "@components/Markdown.astro";
import RecurringImages from "@store/RecurringImages";

const { white_cup, white_love_ribbon } = RecurringImages;

const { title, introText, locale } = Astro.props;
---

<style lang="scss">

  .hero-icon {
    height: clamp(40px, 6vw + 15px, 100px);
  }

</style>

<Hero {locale}>
  <div
    role="banner"
    aria-label="Intro"
    class="wrapper section-in-v-pad-sm hero-text-container relative h-full flex flex-wrap justify-center z-30"
  >
    <div
      class="hero-text-content grid division-in-gap w-full md:w-9/12 lg:w-7/12 text-center"
    >
      <img
        class="hero-icon hidden sm:block w-full h-full mx-auto object-contain"
        {...white_cup}
      />

      <img
        class="hero-icon block sm:hidden w-full h-full mx-auto object-contain"
        {...white_love_ribbon}
      />

      <h1 class="hero-title recoleta font-bold leading-tight tracking-tight text-white">
        {title}
      </h1>

      <div class="hero-text prose max-w-none text-white">
        <Markdown>{introText}</Markdown>
      </div>
    </div>
  </div>
</Hero>
