---
import Icon from "astro-icon";

const { ariaLabelRecurData } = Astro.props;
---

<style lang="scss">
  .cart-product-amount-input {
    -moz-appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
</style>

<div class="flex items-center bg-primary text-secondary rounded-full">
  <button
    data-action="decrement"
    aria-label={ariaLabelRecurData.Product_quantity_minus_button_text}
    class:list={[
      "cart-product-amount-tweak-btn disabled:opacity-30",
      "w-9 h-8 md:w-11 md:h-12 py-1.5 md:py-3 pl-2.5 md:pl-3.5 pr-1.5",
    ]}
    disabled
  >
    <Icon name="akar-icons:minus" class="w-5 h-5 md:w-6 md:h-6 select-none" />
  </button>

  <input
    type="number"
    aria-label={ariaLabelRecurData.Product_quantity_text}
    min="1"
    value={`<placeholder name="quantity"></placeholder>`}
    class:list={[
      "cart-product-amount-input",
      "w-8 md:w-9 h-full text-center md:text-[1.125rem] bg-primary outline-none",
    ]}
    required
  />

  <button
    data-action="increment"
    aria-label={ariaLabelRecurData.Product_quantity_plus_button_text}
    class:list={[
      "cart-product-amount-tweak-btn disabled:opacity-30",
      "w-9 h-8 md:w-11 md:h-12 py-1.5 md:py-3 pl-1.5 pr-2.5 md:pr-3.5",
    ]}
  >
    <Icon name="akar-icons:plus" class="w-5 h-5 md:w-6 md:h-6 select-none" />
  </button>
</div>
