---
import { parseHTML } from "linkedom";
import rightArrowGreen from "@images/rightArrowGreen.svg";

declare interface Props {
  type?: "desktop" | "mobile";
}

const { type = "desktop" } = Astro.props as Props;

const contentHTML = await Astro.slots.render("default");

const { document: contentDocument } = await parseHTML(contentHTML);

const headings = contentDocument.querySelectorAll("h2");
---

<style lang="scss">
  @use "src/styles/colors";

  a {
    color: colors.$sticky-dropdown-item;
  }
</style>

{
  [...headings].map(({ id, innerText }, index) => (
    <a
      href={"#" + id}
      class:list={[
        index === 0 && "active",
        type !== "mobile"
          ? "chapter-link"
          : "chapter-link-sm flex items-center pt-6 font-normal",
      ]}
    >
      <img
        src={rightArrowGreen}
        alt="Green Right Arrow"
        class:list={[
          type === "mobile" ? "blog_StickyItemImgMd" : "blog_StickyItemImg",
        ]}
      />
      <Fragment set:text={innerText} />
    </a>
  ))
}
