---
const { goalText, supportersText, ariaLabelRecurData } = Astro.props;

// fetch crowdfunding stats from Cloudflare Worker
const { supportersCount, totalAmountRaised } = await fetch(
  "https://crowdfunding-stats.scripts.dilmahtea.me",
).then((res) => res.json());

// calculate crowdfunding progress percent
const goal = 100000,
  initialProgress = `0%`,
  animationDuration = 1000,
  progress = totalAmountRaised / goal,
  finalProgress = `${progress * 100}%`;
---

<style lang="scss">
  @use "src/styles/colors";
  @use "src/styles/poly-fluid" as *;

  .progress-content-container {
    @apply grid w-full sm:w-2/3 lg:w-3/5 py-[25px] sm:py-2.5 sm:pr-4 md:pr-0 text-secondary;

    @media (min-width: 640px) {
      margin-bottom: poly-fluid-clamp-primary(25px, 40px);
    }
  }

  .progress-bar {
    background-color: colors.$crowdfunding-progress;
    padding: poly-fluid-clamp-primary(5px, 6px) 0;
  }
</style>

<div class="division-in-element-gap progress-content-container">
  <div class="flex flex-col">
    <div
      aria-label={ariaLabelRecurData.Crowdfunding_total_raised_text +
        ` ` +
        totalAmountRaised}
      class="text-b1 font-bold text-white"
    >
      €{totalAmountRaised}
    </div>

    <div
      class="flex flex-wrap items-center justify-between division-in-element-gap"
    >
      <div class="text-b5">{goalText}</div>

      <div>
        <span class="text-b4 font-medium text-secondary-light">
          {supportersCount}
        </span>
        {supportersText}
      </div>
    </div>
  </div>

  <div class="bg-secondary w-full rounded-full">
    <div style="width: 0%" class="progress-bar rounded-full"></div>
  </div>
</div>

<script
  defer
  define:vars={{ initialProgress, finalProgress, animationDuration }}
>
  const progressBars = document.querySelectorAll(".progress-bar");

  // update crowdfunding progress-tracker width
  progressBars.forEach((progressBar) => {
    progressBar.animate(
      { width: [initialProgress, finalProgress] },
      animationDuration,
    ).onfinish = () => {
      progressBar.style.width = finalProgress;
    };
  });
</script>
