---
const { goalText, supportersText, supportersCount, totalAmountRaised } =
  Astro.props;
---

<div class="progressContent relative">
  <div class="progressHeader">
    €<span class="total-amount-raised">{totalAmountRaised}</span>
  </div>

  <div class="flex flex-wrap gap-x-1.5 justify-between">
    <div class="progeressTxt">{goalText}</div>

    <div class="progeressTxt">
      <span class="progeressTxtNum">{supportersCount}</span>
      {supportersText}
    </div>
  </div>

  <div class="mt-1 sm:mt-2 md:mt-3 w-full bg-default-light-gray rounded-full">
    <div
      style="width: 0%"
      class="progress-bar bg-default-green rounded-full py-1.5"
    >
    </div>
  </div>
</div>
