---
import CMS from "@store/CMS";
import { Icon } from "astro-icon/components";
import Markdown from "@components/Markdown.astro";

declare interface Props {
  locale: string;
}

const { locale } = Astro.props as Props;

const recurData = CMS.get("recurringElement", locale),
  shopLink = CMS.get("homeProduct", locale).Meta.URL_slug;
---

<div
  id="empty-cart-notification"
  class:list={[
    "grow justify-self-center self-center min-h-[500px]",
    "text-primary max-w-md flex flex-col justify-center division-in-gap items-center",
  ]}
>
  <Icon
    name="mi:shopping-cart"
    class="w-[74px] h-[74px] md:w-[88px] md:h-[88px]"
  />

  <div class="text-center font-bold text-b3 text-black-light">
    <Markdown set:html={recurData.text_empty_cart} />
  </div>

  <a
    href={shopLink}
    class="w-full px-[25px] py-[15px] bg-primary text-white font-bold text-center rounded-full text-b5"
  >
    {recurData.text_continue_shopping}
  </a>
</div>
