---
import CMS from "@store/CMS";
import { Icon } from "astro-icon/components";
import Markdown from "@components/Markdown.astro";

declare interface Props {
  locale: string;
}

const { locale } = Astro.props as Props;

const recurData = CMS.get("recurringElement", locale),
  shopLink = CMS.get("homeProduct", locale).Meta.URL_slug;
---

<style lang="scss">
  @use "src/styles/poly-fluid" as *;

  .cart-icon {
    // Icon component have extra padding, unless exact-size-would-be(45px, 75px).

    $size: poly-fluid-clamp-primary(54px, 90px);

    width: $size;
    height: $size;
  }
</style>

<div
  id="empty-cart-notification"
  class:list={[
    "grow justify-self-center self-center min-h-[500px]",
    "text-primary max-w-md flex flex-col justify-center division-in-gap items-center",
  ]}
>
  <Icon name="mi:shopping-cart" class="cart-icon" />

  <div class="prose-text font-bold text-center">
    <Markdown set:html={recurData.text_empty_cart} />
  </div>

  <a href={shopLink} class="button-primary-large sm:min-w-[350px]">
    {recurData.text_continue_shopping}
  </a>
</div>
