---
import RecurringImages from "@store/RecurringImages";
import { Picture } from "astro-imagetools/components";
import ClipPathSVG from "@components/ClipPathSVG.astro";

const {
  logo,
  footer_background,
  footer_background_sm,
} = RecurringImages;

declare interface Props {
  footerText: string;
  recurData: Record<string, any>;
}

const { footerText, recurData } = Astro.props as Props,
  { Footer_menu: menu } = recurData,
---

<style lang="scss">
  footer {
    height: clamp(230px, 35vw + 30px, 300px);
  }

  .footer-background {
    clip-path: url(#footer-curve);

    @media (min-width: 768px) {
      clip-path: url(#footer-curve-md);
    }
  }

  .brand-logo {
    height: clamp(40px, 6vw + 6px, 56px);
  }

  nav {
    font-size: clamp(0.875rem, 1.5vw + 0.1rem, 1.125rem);
  }

  .copyright {
    font-size: clamp(0.75rem, 1.5vw + 0.1rem, 1rem);
  }


    }
  }
</style>

<footer class="relative block w-full mt-auto bg-secondary">
  <ClipPathSVG
    id="footer-curve"
    path="M0 1V0h.918S.98.021.989.129c.01.12-.003.243-.007.367C.979.593 1.01.827.997 1"
  />

  <ClipPathSVG
    id="footer-curve-md"
    path="M0 1V0h.956C.981.012 1 .081 1 .16S.995.318.981.458C.972.552.975.614.968.71.962.797.925 1 .882 1"
  />

  <div
    class="footer-background absolute w-full md:w-[calc(100%-72px)] h-full bg-primary z-10"
  >
    {
      footer_background && (
        <Picture
          alt=""
          layout="fill"
          objectPosition="left bottom"
          breakpoints={{ maxWidth: 768 }}
          src={footer_background_sm?.src || footer_background.src}
          sizes="(min-width: 640px) 100vw - 72px, 100vw"
          artDirectives={[
            {
              src: footer_background.src,
              media: "(min-width: 640px)",
              objectPosition: "left top",
              breakpoints: { minWidth: 768 - 72 },
            },
          ]}
        />
      )
    }
  </div>

  <div
    class="wrapper relative z-20 w-full h-full flex flex-wrap py-[clamp(24px,3vw+6.4px,56px)]"
  >
    <div class="grid sm:flex flex-wrap items-center gap-[25px] md:gap-14">
      <a href="/" class="brand-logo mr-auto">
        <img class="w-full h-full" {...logo} />
      </a>

      <nav
        class:list={[
          "grid grid-cols-2 grid-flow-row sm:flex flex-wrap items-center",
          "gap-x-9 gap-y-[7px] sm:gap-2.5 md:gap-5 font-medium md:font-bold text-white",
        ]}
      >
        {
          menu.map(
            ({ Visibility, Title, Link }) =>
              Visibility && <a href={Link}>{Title}</a>
          )
        }
      </nav>
    </div>

    <div class="w-full flex justify-center mt-auto">
      <p
        class="copyright text-center sm:font-medium leading-[150%] text-white"
        set:html={footerText}
      />
    </div>
  </div>
  </div>
</footer>
