---
import RecurringImages from "@store/RecurringImages";
import { Picture } from "astro-imagetools/components";
import ClipPathSVG from "@components/ClipPathSVG.astro";
import shouldDisplayExperimentals from "@utils/shouldDisplayExperimentals";

const { logo, footer_leaf, footer_leaf_sm, footer_background } =
  RecurringImages;

declare interface Props {
  footerText: string;
}

const { footerText } = Astro.props as Props;
---

{
  /* <style lang="scss" is:global>
    .footer-background {
      @apply z-10 w-full;

      height: 100% !important;
      position: absolute !important;
      clip-path: url(#footer-curve);

      img {
        height: inherit !important;
      }

      @media screen and (min-width: 768px) {
        clip-path: url(#footer-curve-md);
      }
    }
  </style> */
}

<style lang="scss">
  footer {
    height: clamp(230px, 35vw + 30px, 300px);
  }

  .footer-background {
    clip-path: url(#footer-curve);

    @media (min-width: 768px) {
      clip-path: url(#footer-curve-md);
    }
  }

  .brand-logo {
    height: clamp(40px, 6vw + 6px, 56px);
  }

  nav {
    font-size: clamp(0.875rem, 1.5vw + 0.1rem, 1.125rem);
  }

  .copyright {
    font-size: clamp(0.75rem, 1.5vw + 0.1rem, 1rem);
  }

  .footer-leaf {
    height: clamp(120px, 35vw + 10px, 165px);
    filter: drop-shadow(0px 8px 9px rgba(0, 0, 0, 0.5));

    @media screen and (min-width: 768px) {
      height: clamp(100px, 15vw + 10px, 206px);
    }
  }
</style>

<footer class="relative" role="contentinfo">
  <ClipPathSVG
    id="footer-curve"
    path="M0 1V0h.918S.98.021.989.129c.01.12-.003.243-.007.367C.979.593 1.01.827.997 1"
  />

  <ClipPathSVG
    id="footer-curve-md"
    path="M0 1V0h.956C.981.012 1 .081 1 .16S.995.318.981.458C.972.552.975.614.968.71.962.797.925 1 .882 1"
  />

  <div class="footer-background absolute w-full h-[254px] sm:h-full top-0 z-10">
    <img
      class="w-full h-full object-cover"
      src={footer_background.src}
      alt=""
    />
  </div>

  {
    /* (
      <Picture
        alt=""
        src={footer_background.src}
        attributes={{ picture: { class: "footer-background" } }}
      />
    ) */
  }

  <div
    class="wrapper relative z-20 h-[254px] sm:h-full flex flex-wrap py-[clamp(24px,3vw+6.4px,56px)]"
  >
    <div class="grid sm:flex flex-wrap items-center gap-[25px] md:gap-14">
      <a href="/" class="brand-logo mr-auto">
        <img class="w-full h-full" {...logo} />
      </a>

      <nav
        class="grid grid-cols-2 grid-flow-row sm:flex flex-wrap items-center gap-x-9 gap-y-[7px] sm:gap-2.5 md:gap-5 font-medium md:font-bold text-white"
      >
        <a href="/blog">Blog</a>

        {
          shouldDisplayExperimentals() && (
            <Fragment>
              <a href="/tea-estates">Tea Estates</a>

              <a href="/howto">How-to</a>

              <a href="/recipes">Recipe</a>

              <a href="/product">Tea</a>
            </Fragment>
          )
        }
      </nav>
    </div>

    <div class="w-full flex justify-center mt-auto">
      <p
        class="copyright text-center leading-[150%] sm:font-medium"
        set:html={footerText}
      >
      </p>
    </div>
  </div>

  <div
    class="footer-leaf absolute z-30 flex md:items-end mt-auto top-0 right-0"
  >
    <img class="hidden md:block w-full h-full" {...footer_leaf} />

    <img class="block md:hidden w-full h-full" {...footer_leaf_sm} />

    {
      /* (
        <>
          <div class="hidden md:block w-full h-full">
            <Picture layout="fill" {...footer_leaf} />
          </div>

          <div class="block md:hidden w-full h-full">
            <Picture layout="fill" {...footer_leaf_sm} />
          </div>
        </>
      ) */
    }
  </div>
</footer>
