---
import Logo from "@images/logo.svg";
import LeafImg from "@images/greenLeaf3.webp";
import LeafImgMd from "@images/greenLeaf2.webp";

import { Picture } from "astro-imagetools/components";
import ClipPathSVG from "@components/ClipPathSVG.astro";
import shouldDisplayExperimentals from "@utils/shouldDisplayExperimentals";

declare interface Props {
  footerText: string;
}

const { footerText } = Astro.props as Props;
---

<style lang="scss" is:global>
  .footer-background {
    @apply z-10 w-full;

    height: 100% !important;
    position: absolute !important;
    clip-path: url(#footer-curve);

    img {
      height: inherit !important;
    }

    @media screen and (min-width: 768px) {
      clip-path: url(#footer-curve-md);
    }
  }
</style>

<style lang="scss">
  footer {
    height: clamp(230px, 35vw + 30px, 300px);
  }

  .brand-logo {
    height: clamp(38px, 6vw + 6px, 56px);
  }

  nav {
    font-size: clamp(0.875rem, 1.5vw + 0.1rem, 1.125rem);
  }

  .copyright {
    font-size: clamp(0.75rem, 1.5vw + 0.1rem, 1rem);
  }

  .footer-leaf {
    height: clamp(120px, 35vw + 10px, 165px);
    filter: drop-shadow(0px 8px 9px rgba(0, 0, 0, 0.5));

    @media screen and (min-width: 768px) {
      height: clamp(100px, 15vw + 10px, 227px);
    }
  }
</style>

<footer class="relative" role="contentinfo">
  <ClipPathSVG
    id="footer-curve"
    path="M0 1V0h.918S.98.021.989.129c.01.12-.003.243-.007.367C.979.593 1.01.827.997 1"
  />

  <ClipPathSVG
    id="footer-curve-md"
    path="M0 1V0h.956C.981.012 1 .081 1 .16S.995.318.981.458C.972.552.975.614.968.71.962.797.925 1 .882 1"
  />

  <Picture
    alt=""
    src="/src/images/footer-background.webp"
    attributes={{ picture: { class: "footer-background" } }}
  />

  <div
    class="wrapper relative z-20 h-full flex flex-wrap py-[clamp(24px,3vw+6.4px,56px)]"
  >
    <div class="grid md:flex md:flex-wrap items-center gap-8 md:gap-14">
      <a href="/" class="brand-logo">
        <img src={Logo} class="w-full h-full" alt="Dilmah Tea | Brand Logo" />
      </a>

      <nav class="grid md:flex flex-wrap items-center gap-2.5 md:gap-5">
        <a href="/crowdfunding">Crowdfunding</a>

        <a href="/blog">Blog</a>

        {shouldDisplayExperimentals() && <a href="/howto">How-to</a>}
      </nav>
    </div>

    <div class="w-full flex justify-center mt-auto">
      <p class="copyright text-center" set:html={footerText}></p>
    </div>
  </div>

  <div
    class="footer-leaf absolute z-30 flex md:items-end mt-auto -top-16 md:-top-1.5 right-0"
  >
    <img class="hidden md:block w-full h-full" src={LeafImgMd} alt="Tea Leaf" />

    <img class="block md:hidden w-full h-full" src={LeafImg} alt="Tea Leaf" />
  </div>
</footer>
