---
import { Picture } from "astro-imagetools/components";

import RecurringImages from "@store/RecurringImages";

import ClipPathSVG from "@components/ClipPathSVG.astro";

import localizeCMSImage from "@utils/localizeCMSImage";

const { logo, footer_background, footer_background_sm } = RecurringImages;

declare interface Props {
  footerText: string;
  recurData: Record<string, any>;
  type?: string;
}

const { footerText, recurData, type } = Astro.props as Props,
  { Footer_menu: menu } = recurData,
  { STRAPI_URL } = import.meta.env;
---

<style lang="scss">
  @use "src/styles/poly-fluid" as *;

  footer {
    @apply text-white;

    .footer-background-container {
      padding-right: poly-fluid-clamp(
        (
          768px: 0px,
          1440px: 72px,
        )
      );

      .footer-background {
        clip-path: url(#footer-curve);

        @media (min-width: 768px) {
          clip-path: url(#footer-curve-md);
        }
      }
    }

    nav {
      h2 {
        @apply text-[clamp(0.875rem,1.5vw+0.1rem,1.125rem)]
          font-bold leading-[130%] sm:leading-[150%];
      }

      ul li {
        @apply text-[clamp(0.75rem,1.5vw+0.1rem,1rem)] 
          md:font-medium sm:leading-[150%] py-[15px] sm:py-0;
      }

      .footer-icon-container {
        width: poly-fluid-clamp(
          (
            768px: 13px,
            1440px: 20px,
          )
        );
      }
    }

    .brand-logo {
      height: clamp(40px, 6vw + 6px, 56px);
    }

    .copyright {
      @apply text-[clamp(0.75rem,1.5vw+0.1rem,1rem)];
    }
  }
</style>

<footer class="relative w-full mt-auto bg-secondary">
  <ClipPathSVG
    id="footer-curve"
    path="M0 1V0h.918S.98.021.989.129c.01.12-.003.243-.007.367C.979.593 1.01.827.997 1"
  />

  <ClipPathSVG
    id="footer-curve-md"
    path="M0 1V0h.956C.981.012 1 .081 1 .16S.995.318.981.458C.972.552.975.614.968.71.962.797.925 1 .882 1"
  />

  <div class="relative">
    <div class="footer-background-container absolute w-full h-full">
      <div class="footer-background w-full h-full bg-primary z-10">
        {
          footer_background && (
            <Picture
              alt=""
              layout="fill"
              objectPosition="left bottom"
              breakpoints={{ maxWidth: 768 }}
              src={footer_background_sm?.src || footer_background.src}
              sizes="100vw"
              artDirectives={[
                {
                  src: footer_background.src,
                  media: "(min-width: 768px)",
                  objectPosition: "left top",
                  breakpoints: { minWidth: 768 },
                  sizes: "(min-width: 1440px) 100vw - 72px, 100vw",
                },
              ]}
            />
          )
        }
      </div>
    </div>

    <div
      class="wrapper relative z-20 grid gap-[25px] py-[clamp(24px,3vw+6.4px,36px)]"
    >
      <nav
        class:list={[
          "grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4",
          "xl:grid-cols-5 gap-[30px]",
        ]}
      >
        {
          menu.map(({ Heading_name, Menu }) => (
            <div class="flex flex-col gap-2 sm:gap-3">
              <h2>{Heading_name}</h2>
              <span class="block sm:hidden w-[85px] h-[1px] bg-secondary/60" />

              <ul class="grid sm:gap-[15px]">
                {Menu.map(
                  ({ Visibility, Title, Link, Icon: { data: icon } }) =>
                    Visibility && (
                      <li class="flex items-center">
                        <a
                          href={Link}
                          class="flex flex-wrap items-center gap-[5px] sm:gap-2.5"
                        >
                          {icon && (
                            <div class="footer-icon-container h-full">
                              {async () => (
                                <img
                                  class="w-full h-full"
                                  alt=""
                                  src={await localizeCMSImage(
                                    icon.attributes.url,
                                  )}
                                />
                              )}
                            </div>
                          )}

                          <div>{Title}</div>
                        </a>
                      </li>
                    ),
                )}
              </ul>
            </div>
          ))
        }
      </nav>

      <div
        class:list={[
          "grid gap-2.5 justify-start",
          type === "productDetails" && "pb-20 md:pb-0",
        ]}
      >
        <a href="/" class="brand-logo mr-auto">
          <img class="w-full h-full" {...logo} />
        </a>

        <p
          class="copyright text-center sm:font-medium leading-[150%]"
          set:html={footerText}
        />
      </div>
    </div>
  </div>
</footer>
