---
import RecurringImages from "@store/RecurringImages";

const { green_right_arrow } = RecurringImages;

declare interface Props {
  type?: "desktop" | "mobile";
  headings: NodeListOf<HTMLHeadingElement>;
}

const { type = "desktop", headings } = Astro.props as Props;
---

<style lang="scss">
  @use "src/styles/colors";

  a {
    color: colors.$sticky-dropdown-item;

    .chapter-top-icon {
      min-width: clamp(37px, 4.6875vw - 18.75px, 45px);
      margin-right: clamp(10px, 4.6875vw - 43.75px, 20px);
    }

    &.chapter-link,
    &.chapter-link-sm {
      &.active {
        font-weight: 700;
      }

      &:not(.active) img {
        opacity: 0;
      }
    }
  }
</style>

{
  [...headings].map(({ id, innerText }, i) => (
    <span role="listitem">
      <a
        href={"#" + id}
        class:list={[
          "inline-flex items-center text-black-light",
          i === 0 && "active",
          type !== "mobile"
            ? "chapter-link pt-4 xl:pt-5"
            : "chapter-link-sm flex items-center pt-2.5 font-normal",
        ]}
      >
        <div class="chapter-top-icon">
          <img src={green_right_arrow.src} alt="" />
        </div>

        <Fragment set:text={innerText} />
      </a>
    </span>
  ))
}
