---
import CMS from "@store/CMS";
import { Picture } from "astro-imagetools/components";
import RecurringImages from "@store/RecurringImages";
import ClipPathSVG from "@components/ClipPathSVG.astro";
import UpdateTopMargin from "@scripts/UpdateTopMargin.astro";

const { hero_background, hero_background_sm } = RecurringImages;

const { locale, headerBackground, headerBackgroundSm } = Astro.props;

const recurData = CMS.get("recurringElement", locale),
  { ASSETS_URL } = import.meta.env;

const headerBackgroundSmURL =
    ASSETS_URL + headerBackgroundSm?.data?.attributes.url,
  headerBackgroundURL = ASSETS_URL + headerBackground?.data?.attributes.url;

const { Nav_menu: menu } = recurData;
---

<style lang="scss">
  @use "src/styles/poly-fluid" as *;

  .hero {
    @include poly-fluid-sizing(
      "padding-top",
      (
        639.98px: 135px,
        640px: 70px,
        768px: 74px,
        1024px: 104px,
      )
    );
  }

  .hero-background {
    aspect-ratio: 5 / 6;

    @media (min-width: 400px) {
      aspect-ratio: 5 / 4;
    }

    @media (min-width: 549px) {
      aspect-ratio: 7 / 3;
    }

    @media (min-width: 700px) {
      aspect-ratio: 3 / 1;
    }
  }

  .nav-menu-caontainer {
    nav {
      @include poly-fluid-sizing(
        "padding-right",
        (
          639px: 0px,
          640px: 260px,
          768px: 300px,
          1024px: 380px,
          1440px: 460px,
          1536px: 550px,
        )
      );

      a {
        @apply font-bold leading-[150%];

        font-size: poly-fluid-clamp(
          (
            768px: 12px,
            1440px: 18px,
          )
        );
      }
    }
  }
</style>

<ClipPathSVG
  id="hero-background-curve"
  path="M1 0v.939A.27.27 0 0 1 .828 1H.81A1.462 1.462 0 0 1 .648.987C.586.981.522.974.451.974.376.974.312.981.252.988.202.994.156 1 .11 1H.097C.009.996 0 .956 0 .956V0"
/>

<section
  class:list={[
    "hero relative overflow-hidden h-full bg-primary",
    headerBackground ? "pb-0" : "pb-9 sm:pb-0",
  ]}
  style="clip-path: url(#hero-background-curve);"
>
  <UpdateTopMargin />

  {
    (headerBackground || hero_background) && (
      <Picture
        alt=""
        layout="fill"
        preload="avif"
        objectFit="cover"
        objectPosition="left top"
        src={
          headerBackground
            ? headerBackgroundSmURL || headerBackgroundURL
            : hero_background &&
              (hero_background_sm?.src || hero_background.src)
        }
        breakpoints={{ maxWidth: 768 }}
        artDirectives={[
          {
            media: `(min-width: ${headerBackground ? "550px" : "768px"})`,
            breakpoints: { minWidth: 768 },
            src: headerBackground ? headerBackgroundURL : hero_background,
          },
        ]}
        attributes={{
          picture: {
            style: "position: absolute;",
          },
        }}
      />
    )
  }

  {
    headerBackground && (
      <div
        class:list={[
          "absolute inset-0 w-full h-full bg-gradient-to-b",
          "sm:bg-gradient-to-r from-black/50 via-black/40 md:via-black/20",
        ]}
      />
    )
  }

  <div class:list={["relative h-full", headerBackground && "hero-background"]}>
    <div class="hidden md:flex items-end bg-primary-light md:h-[76px]">
      <div class="nav-menu-caontainer wrapper pb-2.5 md:pb-[15px]">
        <nav class="text-black font-semibold h-full">
          <span class="flex gap-5 justify-between items-center h-full">
            {
              menu.map(
                ({ Visibility, Title, Link }) =>
                  Visibility && <a href={Link}>{Title}</a>
              )
            }
          </span>
        </nav>
      </div>
    </div>

    <slot />
  </div>
</section>
