---
const { locales, docLang, language, languages, localeNamesData } = Astro.props;

const lang = locales[languages.indexOf(language)],
  localLanguageName = localeNamesData[language][language];
---

<style>
  .lang-selector {
    font-family: Roboto;
    font-weight: 700;
    width: 100%;
  }
</style>

<li class="block">
  <button
    lang={lang}
    style="cursor: pointer;"
    class:list={[
      lang,
      "lang-selector hover:bg-gray-300 flex flex-wrap gap-x-1.5 md:gap-x-3 items-center dropdownItem",
    ]}
  >
    <span class="lang">
      {localeNamesData[docLang][language]} / {localLanguageName}
    </span>
  </button>
</li>
