---
import Markdown from "@components/Markdown.astro";
import RecurringImages from "@store/RecurringImages";

const { recurData } = Astro.props;

const { Empty_order_blob } = RecurringImages;

const { text_empty_cart, Empty_order_button_text, Empty_order_button_link } =
  recurData;
---

<div class="tiled-div division-gap grid justify-center">
  <div class="w-full max-h-[200px]">
    <img class="w-full h-full" {...Empty_order_blob} />
  </div>

  <div class="division-in-gap grid justify-center text-center">
    <div class="prose-text">
      <Markdown>{text_empty_cart}</Markdown>
    </div>

    <a href={Empty_order_button_link} class="button-primary-large">
      {Empty_order_button_text}
    </a>
  </div>
</div>
