---
import Markdown from "@components/Markdown.astro";
import localizeCMSImage from "@utils/localizeCMSImage";

const { userAccountRecurData } = Astro.props;

const {
  Empty_order_blob: { data: Empty_blob },
  Empty_order_button_text,
  Empty_order_button_link,
  Empty_order_text,
} = userAccountRecurData;
---

<div class="tiled-div grid gap-5 justify-center text-center">
  <div class="w-full max-h-[200px]">
    {
      async () => (
        <img
          class="w-full h-full"
          src={await localizeCMSImage(Empty_blob?.attributes.url)}
          alt={Empty_blob?.attributes.alternativeText}
        />
      )
    }
  </div>

  <div
    class:list={[
      "recoleta prose leading-[110%] text-black",
      "text-[clamp(1.125rem,1.5vw+0.15rem,1.5rem)]",
    ]}
  >
    <Markdown>{Empty_order_text}</Markdown>
  </div>

  <a
    href={Empty_order_button_link}
    class:list={[
      "px-[35px] sm:px-[50px] py-3 w-full sm:min-w-[230px] font-bold",
      "leading-[150%] text-white bg-primary rounded-full",
    ]}
  >
    {Empty_order_button_text}
  </a>
</div>
