---
import Markdown from "@components/Markdown.astro";
import localizeCMSImage from "@utils/localizeCMSImage";

const { userAccountRecurData } = Astro.props;

const {
  Empty_order_blob: { data: Empty_blob },
  Empty_order_button_text,
  Empty_order_button_link,
  Empty_order_text,
} = userAccountRecurData;
---

<div class="tiled-div division-gap grid justify-center">
  <div class="w-full max-h-[200px]">
    {
      async () => (
        <img
          class="w-full h-full"
          src={await localizeCMSImage(Empty_blob?.attributes.url)}
          alt={Empty_blob?.attributes.alternativeText}
        />
      )
    }
  </div>

  <div class="division-in-gap grid justify-center text-center">
    <div class="prose-text">
      <Markdown>{Empty_order_text}</Markdown>
    </div>

    <a href={Empty_order_button_link} class="button-primary-large">
      {Empty_order_button_text}
    </a>
  </div>
</div>
