<style lang="scss">
  @use "src/styles/poly-fluid" as *;

  .form-grid-container {
    @apply flex flex-col;

    gap: poly-fluid-clamp(
      (
        375px: 10px,
        1440px: 35px,
      )
    );

    .form-grid {
      @apply w-full grid gap-y-2.5;

      @media (min-width: 480px) {
        @apply grid-cols-2;

        gap: poly-fluid-clamp(
          (
            480px: 10px 40px,
            1440px: 25px 100px,
          )
        );
      }

      label {
        @apply flex flex-col gap-1.5;

        span {
          @apply font-medium text-dark sm:text-[1.125rem];
        }

        input,
        select {
          @apply focus:ring focus:ring-emerald-800 focus:ring-opacity-20 focus:outline-none;
          @apply h-12 bg-lightgray py-3 px-4 border border-primary rounded-full text-dark sm:text-[1.125rem];
        }
      }
    }
  }
</style>

<form class="checkout-main-active flex flex-col gap-12 w-full lg:w-[66.67%]">
  <div class="form-grid-container">
    <h4 class="alice">Contact info</h4>

    <div class="form-grid">
      <label>
        <span>Email Address</span>

        <input
          type="text"
          name="email"
          placeholder="Enter your email address"
          required
        />
      </label>
    </div>
  </div>

  <div class="form-grid-container">
    <h4 class="alice">Shipping Address</h4>

    <div class="form-grid">
      <label>
        <span>First Name</span>

        <input
          type="text"
          name="first_name"
          placeholder="Enter your first name"
          required
        />
      </label>

      <label>
        <span>Last Name</span>

        <input
          type="text"
          name="last_name"
          placeholder="Enter your last name"
          required
        />
      </label>

      <label>
        <span>Country</span>

        <select name="country" required>
          <option value="" selected disabled hidden>Select your country</option>
          <option value="nl">Nederland</option>
          <option value="en">England</option>
          <option value="de">Germany</option>
        </select>
      </label>

      <label>
        <span>City</span>
        <input type="text" name="city" placeholder="Enter your city" required />
      </label>

      <label>
        <span>Street</span>

        <input
          type="text"
          name="address"
          placeholder="Enter your street address"
          required
        />
      </label>

      <label>
        <span>Postal Code</span>

        <input
          type="text"
          name="postal_code"
          placeholder="Enter your postal code"
          required
        />
      </label>
    </div>
  </div>

  <div
    class="flex flex-col sm:flex-row items-center justify-center sm:justify-start gap-9 sm:gap-12"
  >
    <button
      class="w-full sm:w-auto py-4 px-20 sm:px-24 bg-primary text-lightgray font-bold rounded-full"
    >
      Continue To Shipping
    </button>

    <button id="return-to-cart-btn" class="text-primary font-bold">
      Return To Cart
    </button>
  </div>
</form>

<script>
  declare global {
    interface Window {
      openCart: () => void;
      contactInfo: Record<string, FormDataEntryValue>;
      toggleBetweenInfoFormAndShippingDetails: () => void;
    }
  }

  const id: (string) => HTMLElement = document.getElementById.bind(document),
    query: (string) => HTMLElement = document.querySelector.bind(document),
    checkout = id("checkout"),
    checkoutMain = id("checkout-main"),
    returnToCartBtn = id("return-to-cart-btn"),
    shippingDetails = id("shipping-details"),
    checkoutContactInfoForm = query("#checkout-main form"),
    contactInfoFlowItemProgress = query(".flow div:nth-child(2) div"),
    shippingDetailsFlowItemProgress = query(".flow div:nth-child(3) div");

  window.toggleBetweenInfoFormAndShippingDetails = () => {
    checkoutContactInfoForm.classList.toggle("hidden");
    checkoutContactInfoForm.classList.toggle("checkout-main-active");

    shippingDetails.classList.toggle("hidden");
    shippingDetails.classList.toggle("checkout-main-active");

    contactInfoFlowItemProgress.classList.toggle("opacity-60");
    shippingDetailsFlowItemProgress.classList.toggle("opacity-60");
    shippingDetailsFlowItemProgress.classList.toggle("opacity-30");
  };

  checkoutContactInfoForm.addEventListener("submit", (event) => {
    event.preventDefault();

    const formData = Object.fromEntries(
      new FormData(event.target as HTMLFormElement)
    );

    window.contactInfo = formData;

    window.toggleBetweenInfoFormAndShippingDetails();
  });

  returnToCartBtn.addEventListener("click", (event) => {
    event.preventDefault();

    window.openCart();

    checkout.classList.toggle("hidden");
    checkoutMain.classList.toggle("hidden");
  });
</script>
